<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

        <div class="sidebar-brand-text mx-3">Admin Dashboard</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div class="sidebar-heading">
        Travis
    </div>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/viewclass']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Online Class</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/podcastlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Podcasts</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/videolist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>We Fixed It Videos</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/videomotivationlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Motivation Videos</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/musiclist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Motivation Music</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/postlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Post List</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/transformationlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Transformation List</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/testimonylist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Testimony List</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/quoteslist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Quotes List</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/pinkaffiliatelist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Pink Affiliate List</span></a>
    </li>


    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/productlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Travis Recommends List</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/productcatlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Product Category List</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/userlist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>User List</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Challanges
    </div>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/challengeslist']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Challenge</span></a>
    </li>

</ul>
<!-- End of Sidebar -->