<div class="travis_new_herder_user">
    <div class="wrapper">
        <div class="header-left-logo">
            <ul class="logo_main_user">
                <li>
                    <a target="_blank" [routerLink]="['/home']"> <img src="assets/img/shibboleth_new.png"></a>
                </li>
            </ul>
            <ul class="logo_menu">
                <li> <a href="#" class="btn btn-warning home"><b>HOME</b></a></li>
                <li> <a href="#" class="btn btn-warning join-our"><b>JOIN OUR LIST</b></a></li>
                <li> <button type="submit" class="btn btn-brown logout" (click)="logoutUser()">LOGOUT</button></li>
            </ul>
            <!-- <ul class="travis_media_share">
                <p>Welcome to <b>Travis Martin!</b></p>
                <li class="whatapp"><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                <li class="bg-color"><a href="https://twitter.com/travismartintv7"><i class="fa fa-twitter"></i></a></li>
                <li class="bg-color facebook"><a href="https://www.facebook.com/travismartin777"><i
                     class="fa fa-facebook"></i></a></li>
                <li class="bg-color"><a href="https://www.youtube.com/user/TravisMartintTV"><i class="fa fa-youtube"
                     aria-hidden="true"></i></a></li>
                <li class="bg-color"><a href="https://www.instagram.com/travisjack777/"><i class="fa fa-instagram"
                     aria-hidden="true"></i></a></li>
                <li class="bg-color"><a href="https://www.blogtalkradio.com/myshibboleth"><i class="fa fa-volume-up"
                     aria-hidden="true"></i></a></li>
            </ul> -->
        </div>
    </div>
</div>