<!-------------------  banner Section ------------------------->
<section class="travis_recommend_section">
   <div class="container">

      <!-------------------  Product Section ------------------------>
      <div class="product_section PinkAffiliate">

         <!-- <div class="share_button details-page"><fb-like class="img-share" url={{Image}}></fb-like>   <tweet class="img-share" url={{Image}}></tweet></div> -->
         <button mat-stroked-button class="common-button" [routerLink]="['/pinkaffiliates']">Back</button>
         <main class="site-main">
            <img src="{{baseUrl}}{{affiliate?.Image}}">
         </main>
      </div>
   </div>
</section>