<div class="Profile_section">
    <div class="Profile-tab-tools">
        <ul>
            <!-- <li>
        <a href="#">
          <div class="icon-bg"><i class="fa fa-user" aria-hidden="true"></i></div>
          <div class="title-tab">PROFILE</div>
        </a>
      </li> -->
            <!-- <li>
        <a id="journal" href="#">
          <div class="icon-bg"><i class="fa fa-pencil-square-o"
              style="color:#007aff;font-size: 45px; position: relative; top: 6px; left: 4px;" aria-hidden="true"></i>
          </div>
          <div class="title-tab">Journal</div>
        </a>
      </li> -->
            <li>
                <a id="void-meal" [routerLink]="['/challenge']">
                    <div class="icon-bg"><i class="fa fa-retweet" style="position: relative; top: 20px; font-size: 42px; color: #92e6ba;" aria-hidden="true"></i></div>
                    <div class="title-tab"> Challenge</div>
                </a>
            </li>

            <!-- <li>
                <a id="custom-meal" target="_blank" [routerLink]="['/meallist']">
                    <div class="icon-bg"><i class="fa fa-pencil-square-o" style="font-size: 32px; position: relative; top: 14px; color: #edca52;" aria-hidden="true"></i></div>
                    <div class="title-tab"> Meal Plan</div>
                </a>
            </li>-->
            <li>
                <a id="custom-meal" target="_blank" href="https://mealplantool.com/">
                    <div class="icon-bg"><i class="fa fa-pencil-square-o" style="font-size: 32px; position: relative; top: 14px; color: #edca52;" aria-hidden="true"></i></div>
                    <div class="title-tab"> Meal Plan</div>
                </a>
            </li>

            <!-- <li>
        <a href="#">
          <div class="icon-bg"><i class="fa fa-book" style="color:#e6674a;" aria-hidden="true"></i></div>
          <div class="title-tab">Digital Book</div>
        </a>
      </li> -->
            <li>
                <a id="meal-plan" target="_blank" href="https://shibbolethministry.com/">
                    <div class="icon-bg"><i class="fa fa-list" style="position: relative; top: 20px; font-size: 42px; color: #2ab5c3;" aria-hidden="true"></i></div>
                    <div class="title-tab">Shibboleth Ministry</div>
                </a>
            </li>
        </ul>
    </div>
</div>