<body>
    <div class="main-div" style="width:1000px  ; margin: 0 auto;">
        <!-- Navigation -->
        <div class="header" style="text-align:center">

            <button style="padding:10px" (click)="printPage()">Print List</button>

            <script>
                function printPage() {
                    window.print();
                }
            </script>
            <div class="logo-center">
                <h1>Waist away in shibbolethville</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>Category 1 and 7 </h1>
                    <ul>
                        <li>Cod </li>
                        <li> Grouper</li>
                        <li>Bass</li>
                        <li>Flounder</li>
                        <li>Red Snapper </li>
                        <li>Tuna</li>
                        <li>Salmon</li>
                        <li>Sardines </li>
                        <li>Any Fish </li>
                        <li>Crab</li>
                        <li> Shrimp</li>
                        <li>Scallops</li>
                        <li>Lobster</li>
                        <li>Oysters</li>
                        <li> Clams Mussels</li>
                        <li>Escargot</li>
                        <li>Frog Legs</li>
                        <li>Any Shellfish </li>
                        <li> Doubled Q Canned Salmon</li>
                        <li>Canned Tuna </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Category 2 Fibrous Carbs</h1>
                    <ul>
                        <li> Broccoli</li>
                        <li>Asparagus </li>
                        <li>Green Beans</li>
                        <li>Cabbage</li>
                        <li>Kale</li>
                        <li>Spinach</li>
                        <li>Romaine Lettuce </li>
                        <li>Any Leafy Green</li>
                        <li>Snow Peas in the Pod</li>
                        <li>Okra</li>
                        <li>Cucumbers</li>
                        <li>Cauliflower </li>
                        <li>Brussel Sprouts</li>
                        <li>Sprouts of any kind</li>
                        <li>Mushrooms</li>
                        <li>Dill Pickles</li>
                        <li>Pickled Okra</li>
                        <li>Celery </li>
                        <li>Bell Peppers</li>
                        <li>Sweet Peppers</li>
                        <li>Hot Peppers</li>
                        <li>Squash </li>
                        <li>Eggplant</li>
                        <li>Artichokes</li>
                        <li>Pickled Artichokes</li>
                        <li>Baby Corn</li>
                        <li>Bamboo Shoots</li>
                        <li>Pumpkin</li>
                        <li>Kraut</li>
                        <li>Kimchi</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Category 3 Complex Carbs </h1>
                    <ul>
                        <li>Potatoes</li>
                        <li>Quinoa</li>
                        <li>Corn</li>
                        <li>Carrots</li>

                        <li>Carbquik
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Category 5 Fruit</h1>
                    <ul>
                        <li>Berries </li>
                        <li>Apple </li>
                        <li>Oranges </li>
                        <li>Grapefruit </li>
                        <li>Melon </li>
                        <li>Pineapple </li>
                        <li>Mango </li>
                        <li>Kiwi </li>
                        <li>1/2 banana </li>
                        <li>Clementines </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Category 6 Superfoods <br> </h1>
                    <ul>
                        <li>Pintos</li>
                        <li>Black beans </li>
                        <li>Red beans </li>
                        <li>Avocado</li>
                        <li>Hemp Hearts</li>
                        <li>Nuts/Seeds</li>
                        <li>Nuts N More Peanut Butter</li>
                        <li>Legendary Brand Peanut Butter</li>
                        <li>Buff Bake Peanut Butte</li>
                        <li>Hummus</li>
                        <li> Approved peanut butter</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1> Category Hemp <br>Products</h1>
                    <ul>
                        <li>Hemp Hearts</li>
                        <li>Hemp Flakes </li>
                        <li>Very Sweet Hemp Flakes</li>
                        <li>Little Man Squares</li>
                        <li>Hemp Energy Crumbles</li>
                        <li>1/3 Hemp Bar</li>
                        <li>Hemp Protein Powder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Condiments<br></h1>
                    <ul>
                        <li>Reduced Sugar Ketchup </li>
                        <li>Shibboleth approved cocktail sauce </li>
                        <li>Wasabi </li>
                        <li>Soy Sauce </li>
                        <li>Bragg's Liquid Amino </li>
                        <li>Old Bay Seasoning </li>
                        <li>Any approved condiment that follows 5/2/few rule </li>
                        <li>Any approved coffee creamer 15 calories of less </li>
                        <li>Monk fruit </li>
                        <li>Xylitol </li>
                        <li>Splenda </li>
                        <li>Stevia </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>General Store (Meal Replacements)</h1>
                    <ul>
                        <li>Mighty Muffin </li>
                        <li>Healthwise Hot Chocolate </li>
                        <li>Moringa Coco Ringa </li>
                        <li>Bio-Coffee/HWHC/Moringa </li>
                        <li>Know Better Cookies </li>
                        <li>Quest Cookie </li>
                        <li>Power Crunch Bar </li>
                        <li>Shibboleth MR Bar </li>
                        <li>Quest Bar </li>
                        <li>AHS Fettuccine </li>
                        <li>AHS Mac and Cheese </li>
                        <li>Oh Yeah One Bar </li>
                        <li>Healthwise Microwaveable Meal </li>
                        <li>Real Good Pizza (Small 4” one) </li>
                        <li>Real Good Enchiladas </li>
                        <li>G Butter </li>
                        <li>Approved Meal Replacement Bar </li>
                        <li>AHS Cinnamon Crisp Cereal </li>
                        <li>AHS Coco berry cereal </li>
                        <li>AHS Oatmeal </li>
                        <li>Approved Jerky </li>
                        <li>Approved Meal Replacement Shakes </li>
                        <li>Healthwise High Protein Soups </li>
                        <li>AHS pancakes </li>
                        <li>Jimmy Dean Delight Breakfast Sandwiches </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1> Approved <br>Cheese</h1>
                    <ul>
                        <li>Lifetime Fat Free (Category 1 Lean Protein or Condiment)</li>
                        <li>Kraft Fat Free (Category 1 Lean Protein or Condiment)</li>
                        <li>Borden’s Fat Free Cheese (Category 1 Lean Protein or Condiment)</li>
                        <li>Cabot Extra Light Cheese (Category 4 Protein + Fat)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1> Category Hemp Products</h1>
                    <ul>
                        <li>Hemp Hearts</li>
                        <li>Hemp Flakes </li>
                        <li>Very Sweet Hemp Flakes</li>
                        <li>Little Man Squares</li>
                        <li>Hemp Energy Crumbles</li>
                        <li>1/3 Hemp Bar</li>
                        <li>Hemp Protein Powder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1>Approved Beverages <br>(As needed)</h1>
                    <ul>
                        <li>Water</li>
                        <li>Zero Calorie Beverages of any type</li>
                        <li>Unsweet or Approved Tea </li>
                        <li>Coffee but only with approved sweeteners</li>
                        <li>Celsius</li>
                        <li>Advocare Spark</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1>Category 1 <br> Milks</h1>
                    <ul>
                        <li>Fat Free Fair Life Milk</li>
                        <li>Kroger Carbmaster Milk</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Seafood Lover’s Recipes</h1>
                    <ul>
                        <li>Cod </li>
                        <li>
                            Seafood Slimming Soup
                        </li>
                        <li>
                            Baja Fish Tacos (1)
                        </li>
                        <li>
                            Fish with Hemp Flakes
                        </li>
                        <li>
                            Shellfish with Hemp Flakes
                        </li>
                        <li>
                            Fish Chowder
                        </li>
                        <li>
                            Fried Fish and Greens
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Seafood Lover’s Wow Challenges</h1>
                    <ul>
                        <li>Advocare Spark Popsicle WOW</li>
                        <li>
                            Healthwise Hot Chocolate WOW (Fish Option)
                        </li>
                        <li>
                            Know Better Cookie WOW (Fish Option)
                        </li>
                        <li>
                            Mighty Muffin WOW (Fish Option)
                        </li>
                        <li>
                            Hemp Bar WOW
                        </li>
                        <li>
                            Bionic on Steroids WOW
                        </li>
                        <li>
                            Enlightened WOW
                        </li>
                        <li>
                            Tuna Helper and Ice Cream WOW
                        </li>
                        <li>
                            Shakes and Scallops for Extreme Weight Loss WOW
                        </li>
                        <li>
                            Oatmeal by the Sea WOW
                        </li>
                        <li>
                            Mighty Shrimp WOW
                        </li>
                        <li>
                            Spark My Pizza WOW
                        </li>
                        <li>
                            Hot Chocolate and Pizza WOW
                        </li>
                        <li>
                            Fish Time WOW
                        </li>
                        <li>
                            Hemp Flake the Fat Away WOW
                        </li>
                        <li>
                            Eggs and Chili WOW
                        </li>
                        <li>
                            Bio-Coffee and Healthwise Meal WOW
                        </li>
                        <li>
                            Tuna Hemp Helper WOW
                        </li>
                        <li>
                            Soup to Regroup WOW
                        </li>
                        <li>
                            WOW Ice Cream Challenge WOW
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Shibbolethville Bakery</h1>
                    <ul>
                        <li>Nature’s Own Double Fiber Wheat Bread </li>
                        <li>
                            La Tortilla Factory Tortilla 50 cal
                        </li>
                        <li>
                            Joseph’s Flax and Oat Bran Pita 50 cal
                        </li>
                        <li>
                            Joseph’s High Fiber Breads and Flats
                        </li>
                        <li>
                            ThinSlim Foods Zero Carb Bread
                        </li>
                        <li>
                            Thomas Light Muffin 100 Calories
                        </li>
                        <li>
                            Ole Extreme Wellness Tortilla
                        </li>
                        <li>
                            Healthy Life 35 Calorie Bread
                        </li>
                        <li>
                            Healthy Life 45 Calorie Bread
                        </li>
                        <li>
                            UDI’s Millet Chia Bread
                        </li>
                        <li>
                            Julian Bakery Paleo Thin Coconut Bread
                        </li>
                        <li>
                            Flatout Light Original Flatbread
                        </li>
                        <li>
                            Scandinavian Bran CrispBread
                        </li>
                        <li>Sara Lee Delightful 45 Calorie Bread </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Shibbolethville Snacks </h1>
                    <ul>
                        <li>Any Kay's Natural snack up to 200 calories </li>
                        <li>Kay's Natural Pretzels </li>
                        <li>Kay's Natural Cookie Bites </li>
                        <li>Kay's Natural Pizza Puffs </li>
                        <li>Any Kay's Natural </li>
                        <li>At Last Crunchy Protein Beans </li>
                        <li> Up to 200 calories of popcorn</li>
                        <li>
                            1 tbsp of approved peanut butter
                        </li>
                        <li>
                            1 tbsp of approved peanut butter/7 Healthwise Biscotti
                        </li>
                        <li>
                            ChocoRite Peanut Butter Patties; up to 6 pieces
                        </li>
                        <li>
                            ChocoRite Pecan Clusters; up to 6 pieces
                        </li>
                        <li>
                            Up to 200 caloris of Halo Top Ice Cream
                        </li>
                        <li>
                            Up to 200 calories of Arctic Zero Frozen Treat
                        </li>
                        <li>
                            Beanitos Bean Chips
                        </li>
                        <li>
                            Cheddies; Up to 200 calories
                        </li>
                        <li>
                            Carnivore Candy Bacon Jerky; up to 200 calories
                        </li>
                        <li>
                            Jerky; up to 200 calories
                        </li>
                        <li>
                            Healthwise Hot Chocolate; up to 2 servings
                        </li>
                        <li>
                            Bio-Coffee; Up to 2 servings
                        </li>
                        <li>
                            Evolve Plant Based Protein Bars
                        </li>
                        <li>
                            Kind Bar Plus
                        </li>
                        <li>
                            Double Bites
                        </li>
                        <li>
                            Healthwise Chips
                        </li>
                        <li>
                            Shibboleth Frozen Yogurt Mix
                        </li>
                        <li>
                            Quest Chips
                        </li>
                        <li>
                            Fiber Gourmet Thinnables; any flavor
                        </li>
                        <li>
                            AHS Cinnamon Crisp Cereal; 1 package without milk
                        </li>
                        <li>
                            AHS Cocoberry Cereal; 1 package without milk
                        </li>
                        <li>
                            Nuts/Seeds; up to 200 calories
                        </li>
                        <li>
                            Shibboleth High Protein Wafers; Like a sugar wafer
                        </li>
                        <li>
                            Healthwise High Protein Soups; Up to 2 packages
                        </li>
                        <li>
                            Power Crunch Bar
                        </li>
                        <li>
                            Choklat Bar by Power Crunch Brand
                        </li>
                        <li>
                            KNOW Better Cookie; 1/2 the cookie
                        </li>
                        <li>
                            G-Butter
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>