<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">

        <!-- Navigation -->
        <div class="header" style="text-align:center">
            <button style="padding:10px" onclick="myFunction()">Print List</button>
            <script>
                function myFunction() {
                    window.print();
                }
            </script>
            <div class="logo-center">
                <h1>LAND LOVER TEAM</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>Category 1 and 4 Proteins</h1>
                    <ul>
                        <li>Egg Whites
                        </li>
                        <li> Eggs
                        </li>
                        <li>Chicken Breast
                        </li>
                        <li>Turkey Breast
                        </li>
                        <li>Pork Tenderloin
                        </li>
                        <li>London Broil
                        </li>
                        <li>96% Lean Ground Meat
                        </li>
                        <li><a target="_blank" href="#">93% Lean Ground Meat</a>
                        </li>
                        <li><a target="_blank" href="#">97% Fat Free Hebrew National Franks</a></li>
                        <li><a target="_blank" href="#">Flank Steak</a></li>
                        <li><a target="_blank" href="#">New York Strip Steak</a></li>
                        <li><a target="_blank" href="#">Filet Mignon</a></li>
                        <li><a target="_blank" href="#">Any Steak</a></li>
                        <li><a target="_blank" href="#">Pork </a></li>
                        <li><a target="_blank" href="#">Chicken Wings</a></li>
                        <li><a target="_blank" href="#">Pork Ribs </a></li>
                        <li><a target="_blank" href="#">Spare Ribs</a></li>
                        <li><a target="_blank" href="#">Jimmy Dean Turkey Sausage</a></li>
                        <li><a target="_blank" href="#">Turkey Spam </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1> Category 2 Fibrous Carbs </h1>
                    <ul>
                        <li><a target="_blank" href=""> Broccoli</a></li>
                        <li><a target="_blank" href="">Asparagus </a></li>
                        <li><a target="_blank" href="">Green Beans</a></li>
                        <li><a target="_blank" href="">Cabbage</a></li>
                        <li><a target="_blank" href="">Kale</a></li>
                        <li><a target="_blank" href="">Spinach</a></li>
                        <li><a target="_blank" href="">Romaine Lettuce </a></li>
                        <li><a target="_blank" href="">Any Leafy Green</a></li>
                        <li><a target="_blank" href="">Snow Peas in the Pod</a></li>
                        <li><a target="_blank" href="">Okra</a></li>
                        <li><a target="_blank" href="">Cucumbers</a></li>
                        <li><a target="_blank" href="">Cauliflower </a></li>
                        <li><a target="_blank" href="">Brussel Sprouts</a></li>
                        <li><a target="_blank" href="">Sprouts of any kind</a></li>
                        <li><a target="_blank" href="">Mushrooms</a></li>
                        <li><a target="_blank" href="">Dill Pickles</a></li>
                        <li><a target="_blank" href="">Pickled Okra</a></li>
                        <li><a target="_blank" href="">Celery </a></li>
                        <li><a target="_blank" href="">Bell Peppers</a></li>
                        <li><a target="_blank" href="">Sweet Peppers</a></li>
                        <li><a target="_blank" href="">Hot Peppers</a></li>
                        <li><a target="_blank" href="">Squash </a></li>
                        <li><a target="_blank" href="">Eggplant</a></li>
                        <li><a target="_blank" href="">Artichokes</a></li>
                        <li><a target="_blank" href="">Pickled Artichokes</a></li>
                        <li><a target="_blank" href="">Baby Corn</a></li>
                        <li><a target="_blank" href="">Bamboo Shoots</a></li>
                        <li><a target="_blank" href="">Pumpkin</a></li>
                        <li><a target="_blank" href="">Kraut</a></li>
                        <li><a target="_blank" href="">Kimchi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>CCategory 3 Complex<br> Carbs </h1>
                    <ul>
                        <li><a target="_blank" href="#">Tomatoes</a></li>
                        <li><a target="_blank" href="#">Onions </a></li>
                        <li><a target="_blank" href="#">Lima beans </a></li>
                        <li><a target="_blank" href="#">Green peas  </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Category 5 Fruit </h1>
                    <ul>
                        <li><a target="_blank" href="Berries ">Berries </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Category 6 <br> Superfoods</h1>
                    <ul>
                        <li><a target="_blank" href="#">Pintos</a></li>
                        <li><a target="_blank" href="#">Black beans </a></li>
                        <li><a target="_blank" href="#">Red beans</a></li>
                        <li><a target="_blank" href="#">Avocado </a></li>
                        <li><a target="_blank" href="#">Hemp Hearts </a></li>
                        <li><a target="_blank" href="#">Nuts/Seeds</a></li>
                        <li><a target="_blank" href="#">Nuts N More Peanut Butter</a></li>
                        <li><a target="_blank" href="#">Legendary Brand Peanut Butter</a></li>
                        <li><a target="_blank" href="#">Buff Bake Peanut Butte</a></li>
                        <li><a target="_blank" href="#">Hummus</a></li>
                        <li><a target="_blank" href="#"> Approved peanut butter</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Condiments </h1>
                    <ul>
                        <li><a target="_blank" href="#">Reduced Sugar Ketchup    </a></li>
                        <li><a target="_blank" href="#">Mustard   </a></li>
                        <li><a target="_blank" href="#">A1 Sauce    </a></li>
                        <li><a target="_blank" href="#">Stubb's Moppin Sauce   </a></li>
                        <li><a target="_blank" href="#">Wing Sauce    </a></li>
                        <li><a target="_blank" href="#">Any approved condiment that follows the 5/2/few rule.    </a></li>
                        <li><a target="_blank" href="#">Any approved coffee creamer 15 calories of less   </a></li>
                        <li><a target="_blank" href="#">Monk fruit   </a></li>
                        <li><a target="_blank" href="#">Xylitol   </a></li>
                        <li><a target="_blank" href="#">Splenda    </a></li>
                        <li><a target="_blank" href="#">Stevia    </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1> General Store (Meal Replacements)</h1>
                    <ul>
                        <li><a target="_blank" href="#">Mighty Muffin </a></li>
                        <li><a target="_blank" href="#">Healthwise Hot Chocolate </a></li>
                        <li><a target="_blank" href="#">Moringa Coco Ringa</a></li>
                        <li><a target="_blank" href="#">Bio-Coffee/HWHC/Moringa </a></li>
                        <li><a target="_blank" href="#">Know Better Cookies </a></li>
                        <li><a target="_blank" href="#">Quest Cookie </a></li>
                        <li><a target="_blank" href="#">Power Crunch Bar</a></li>
                        <li><a target="_blank" href="#">Shibboleth MR Bar</a></li>
                        <li><a target="_blank" href="#">Quest Bar</a></li>
                        <li><a target="_blank" href="#">AHS Fettuccine </a></li>
                        <li><a target="_blank" href="#">AHS Mac and Cheese </a></li>
                        <li><a target="_blank" href="#">Oh Yeah One Bar</a></li>
                        <li><a target="_blank" href="#">Healthwise Microwaveable Meal</a></li>
                        <li><a target="_blank" href="#">Real Good Pizza (Small 4” one)</a></li>
                        <li><a target="_blank" href="#">Real Good Enchiladas</a></li>
                        <li><a target="_blank" href="#">G Butter</a></li>
                        <li><a target="_blank" href="#">Approved Meal Replacement Bar</a></li>
                        <li><a target="_blank" href="#">AHS Cinnamon Crisp Cereal </a></li>
                        <li><a target="_blank" href="#">AHS Coco berry cereal</a></li>
                        <li><a target="_blank" href="#">AHS Oatmeal</a></li>
                        <li><a target="_blank" href="#">Approved Jerky </a></li>
                        <li><a target="_blank" href="#">Approved Meal Replacement Shakes </a></li>
                        <li><a target="_blank" href="#">Healthwise High Protein Soups</a></li>
                        <li><a target="_blank" href="#">AHS pancakes </a></li>
                        <li><a target="_blank" href="#">Kay’s Natural Cereal </a></li>
                        <li><a target="_blank" href="#">Kashi Go Lean Original Cereal </a></li>
                        <li><a target="_blank" href="#">Jimmy Dean Delight Breakfast Sandwiches </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1> General Store Dairy </h1>
                    <ul>
                        <li><a target="_blank" href="#">Egg Whites</a></li>
                        <li><a target="_blank" href="#">Whole Eggs</a></li>
                        <li><a target="_blank" href="#">Fat Free Fairlife Milk </a></li>
                        <li><a target="_blank" href="#">Kroger Carbmaster Milk </a></li>
                        <li><a target="_blank" href="#">Triple Zero Plain Yogurt</a></li>
                        <li><a target="_blank" href="#">Low Fat Cottage Cheese</a></li>
                        <li><a target="_blank" href="#">Fat Free Cottage Cheese</a></li>
                        <li><a target="_blank" href="#">Chobani Greek Plain Yogurt </a></li>
                        <li><a target="_blank" href="#">Buff Bake Cookie </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1> Approved <br>Cheese</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/lifetime-fat-free-cheese/">Lifetime Fat Free (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kraft-fat-free-singles-cheese/">Kraft Fat Free (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/borden-fat-free-singles/">Borden’s Fat Free Cheese (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="#">Cabot Extra Light Cheese (Category 4 Protein + Fat)</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1> Approved Sweeteners <br>(To preference)</h1>
                    <ul>
                        <li>Stevia
                        </li>
                        <li>Splenda
                        </li>
                        <li>Monk Fruit
                        </li>
                        <li>Xylitol
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1>Approved Beverages <br>(As needed)</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/water/">Water</a></li>
                        <li><a target="_blank" href="#">Zero Calorie Beverages of any type</a></li>
                        <li><a target="_blank" href="#">Unsweet or Approved Tea </a></li>
                        <li><a target="_blank" href="#">Coffee but only with approved sweeteners</a></li>
                        <li><a target="_blank" href="#">Celsius</a></li>
                        <li><a target="_blank" href="#">Advocare Spark</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-300">
                    <h1>Category 1 <br> Milks</h1>
                    <ul>
                        <li><a target="_blank" href="">Fat Free Fair Life Milk</a></li>
                        <li><a target="_blank" href="">Kroger Carbmaster Milk</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Land Lover’s Recipes</h1>
                    <ul>
                        <li><a target="_blank" href="#">Unstuffed Cabbage Rolls  </a></li>
                        <li><a target="_blank" href="#">
                      Buffalo Grilled Cheese
                   </a></li>
                        <li><a target="_blank" href="#">
                      Crockpot Buffalo Chicken
                   </a></li>
                        <li><a target="_blank" href="#">
                      Travis Spaghetti 
                   </a></li>
                        <li><a target="_blank" href="#">
                      To Die For Roast
                   </a></li>
                        <li><a target="_blank" href="#">
                      Honey Pecan Chicken 
                   </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Land Lover’s WOW Challenges</h1>
                    <ul>
                        <li><a target="_blank" href="#">ON Protein Almonds WOW  </a></li>
                        <li><a target="_blank" href="#">
                      Grilled Cheese WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Cereal and Chili WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Healthwise Hot Chocolate WOW (Fish Option)
                   </a></li>
                        <li><a target="_blank" href="#">
                      Know Better Cookie WOW (Fish Option)
                   </a></li>
                        <li><a target="_blank" href="#">
                      Mighty Muffin WOW (Fish Option) 
                   </a></li>
                        <li><a target="_blank" href="#">
                      Oats and Beef WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Buff Cookies and Milk 
                   </a></li>
                        <li><a target="_blank" href="#">
                      Enlightened WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Delightful War WOW 
                   </a></li>
                        <li><a target="_blank" href="#">
                      G, I love brownie and cookies WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Muffins in London WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Eggs and Pork WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Eggs and Burger WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Turkey Spam for Weight Loss WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Spark My Pizza WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Hot Chocolate and Pizza WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Pizza in London WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Hot Dog I can have coffee WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Eggs and Chili WOW 
                   </a></li>
                        <li><a target="_blank" href="#">
                      Bio-Coffee and Healthwise Meal WOW
                   </a></li>
                        <li><a target="_blank" href="#">
                      Soup to Regroup WOW 
                   </a></li>
                        <li><a target="_blank" href="#">
                      WOW Ice Cream Challenge WOW
                   </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <h1>Shibbolethville Bakery</h1>
                    <ul>
                        <li><a target="_blank" href="">Nature’s Own Double Fiber Wheat Bread  </a></li>
                        <li><a target="_blank" href="">
                      La Tortilla Factory Tortilla 50 cal 
                   </a></li>
                        <li><a target="_blank" href="">
                      Joseph’s Flax and Oat Bran Pita 50 cal 
                   </a></li>
                        <li><a target="_blank" href="">
                      Joseph’s High Fiber Breads and Flats 
                   </a></li>
                        <li><a target="_blank" href="">
                      ThinSlim Foods Zero Carb Bread 
                   </a></li>
                        <li><a target="_blank" href="">
                      Thomas Light Muffin 100 Calories 
                   </a></li>
                        <li><a target="_blank" href="">
                      Ole Extreme Wellness Tortilla 
                   </a></li>
                        <li><a target="_blank" href="">
                      Healthy Life 35 Calorie Bread 
                   </a></li>
                        <li><a target="_blank" href="">
                      Healthy Life 45 Calorie Bread 
                   </a></li>
                        <li><a target="_blank" href="">
                      UDI’s Millet Chia Bread 
                   </a></li>
                        <li><a target="_blank" href="">
                      Julian Bakery Paleo Thin Coconut Bread 
                   </a></li>
                        <li><a target="_blank" href="">
                      Flatout Light Original Flatbread   
                   </a></li>
                        <li><a target="_blank" href="">
                      Scandinavian Bran CrispBread   
                   </a></li>
                        <li><a target="_blank" href="">Sara Lee Delightful 45 Calorie Bread  </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1300">
                    <div class="title_img">
                        <h1>Shibbolethville Snacks </h1>
                    </div>
                    <ul>
                        <li><a target="_blank" href="">Any Kay's Natural snack up to 200 calories </a></li>
                        <li><a target="_blank" href="">Kay's Natural Pretzels  </a></li>
                        <li><a target="_blank" href="">Kay's Natural Cookie Bites </a></li>
                        <li><a target="_blank" href="">Kay's Natural Pizza Puffs </a></li>
                        <li><a target="_blank" href="">Any Kay's Natural </a></li>
                        <li><a target="_blank" href="">At Last Crunchy Protein Beans  </a></li>
                        <li><a target="_blank" href=""> Up to 200 calories of popcorn</a></li>
                        <li><a target="_blank" href=""> 
                      1 tbsp of approved peanut butter
                   </a></li>
                        <li><a target="_blank" href=""> 
                      1 tbsp of approved peanut butter/7 Healthwise Biscotti
                   </a></li>
                        <li><a target="_blank" href=""> 
                      ChocoRite Peanut Butter Patties; up to 6 pieces
                   </a></li>
                        <li><a target="_blank" href=""> 
                      ChocoRite Pecan Clusters; up to 6 pieces
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Up to 200 caloris of Halo Top Ice Cream
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Up to 200 calories of Arctic Zero Frozen Treat
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Beanitos Bean Chips
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Cheddies; Up to 200 calories
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Carnivore Candy Bacon Jerky; up to 200 calories
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Jerky; up to 200 calories
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Healthwise Hot Chocolate; up to 2 servings 
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Bio-Coffee; Up to 2 servings 
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Evolve Plant Based Protein Bars
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Kind Bar Plus
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Double Bites
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Healthwise Chips
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Shibboleth Frozen Yogurt Mix
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Quest Chips
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Fiber Gourmet Thinnables; any flavor 
                   </a></li>
                        <li><a target="_blank" href=""> 
                      AHS Cinnamon Crisp Cereal; 1 package without milk 
                   </a></li>
                        <li><a target="_blank" href=""> 
                      AHS Cocoberry Cereal; 1 package without milk 
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Nuts/Seeds; up to 200 calories
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Shibboleth High Protein Wafers; Like a sugar wafer
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Healthwise High Protein Soups; Up to 2 packages 
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Power Crunch Bar
                   </a></li>
                        <li><a target="_blank" href=""> 
                      Choklat Bar by Power Crunch Brand
                   </a></li>
                        <li><a target="_blank" href=""> 
                      KNOW Better Cookie; 1/2 the cookie 
                   </a></li>
                        <li><a target="_blank" href="">
                      G-Butter 
                   </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>