<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">
        <!-- Navigation -->
        <div class="header" style="text-align:center">
            <button style="padding:10px" (click)="printPage()">Print List</button>
            <!-- <script>
                function myFunction() {
                    window.print();
                }
            </script> -->
            <div class="logo-center">
                <h1>Christmas Challenge</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1200">
                    <h1>Category 1, 4, 7</h1>
                    <ul>

                        <li>Egg Whites(Freebies) </li>
                        <li>Fish </li>
                        <li>Chicken Breast </li>
                        <li>Turkey Breast </li>
                        <li>Pork Tenderloin </li>
                        <li>London Broil </li>
                        <li>Triple Zero Yogurt </li>

                        <li>Low Fat Cottage Cheese </li>
                        <li>Fat Free Cottage Cheese </li>
                        <li>Kroger Carbmaster Milk </li>
                        <li>Fat Free Fairlife Milk </li>
                        <li>96% or better Lean Ground Meat </li>
                        <li>97% Fat Free Hebrew National Franks </li>
                        <li>Cabot Extra Light Cheese </li>
                        <li>Reduced Fat Sargento Cheese </li>
                        <li>Shrimp </li>
                        <li>Crab (No imitation Crab) </li>
                        <li>Lobster </li>
                        <li>Oysters </li>
                        <li>Clams </li>
                        <li>Crawfish </li>
                        <li>Scallops </li>
                        <li>Mussels </li>
                        <li>Any Shellfish </li>
                        <li>Kroger Carbmaster Yogurt </li>
                        <li>Fat Free Cream Cheese</li>
                        <li>Elk</li>
                        <li>Deer</li>
                        <li>Approved Jerky</li>
                        <li>Fat Free Cheese</li>
                        <li>Boars Head Deli Meats</li>
                        <li>Dietz and Watson Deli Meats </li>
                        <li>Jennie-O Deli Meats</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-1200">
                    <h1>Category 2 <br>Fibrous Carbs</h1>
                    <ul>
                        <li>Broccoli </li>
                        <li>Asparagus </li>
                        <li>Squash </li>
                        <li>Cucumbers</li>
                        <li>Peppers </li>
                        <li>Okra </li>
                        <li>Jicama</li>
                        <li>Green Leafy Vegetables </li>
                        <li>Cabbage </li>
                        <li>Brussels </li>
                        <li>Brancrisp Bread</li>
                        <li>Green Beans </li>
                        <li>Cauliflower </li>
                        <li>Shibboleth High Protein Brown Bread </li>

                        <li>Proti Toast </li>
                        <li>50 calorie serving of any approved bread </li>
                        <li>Mushrooms</li>
                        <li>Miracle Rice </li>
                        <li>Know Better Thins </li>
                        <li>Celery</li>
                        <li>Thomas Light Muffins </li>
                        <li>Beets </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-1200">
                    <h1>Breadings Flours</h1>
                    <ul>
                        <li>TVP</li>
                        <li>Coconut Flour</li>
                        <li>Carbquik</li>
                        <li>Bob's Red Mill Almond Flour</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-1200">
                    <h1>Meal Replacements </h1>
                    <ul>
                        <li>Mighty Muffin</li>
                        <li>Healthwise Hot Chocolate</li>
                        <li>Quest Cookie</li>
                        <li>Power Crunch Bar</li>
                        <li>Quest Bar</li>
                        <li>Approved Shake</li>
                        <li>1/3 Hemp Bar</li>
                        <li>AHS Mac and Cheese </li>
                        <li>AHS Fetuccine </li>
                        <li>AHS Cheesesteak Pasta </li>
                        <li>Oh Yeah One Bar </li>
                        <li>Healthwise Microwavebale Meal </li>
                        <li>Real Good Pizzas </li>
                        <li>Real Good Enchiladas </li>
                        <li>Know Better Waffles </li>
                        <li>Know Better Doughnuts </li>
                        <li>Atkins Bar </li>
                        <li>Know Better Cookies </li>
                        <li>G Butter </li>
                        <li>Pure Protein Bars </li>
                        <li>Premier Protein Bars </li>
                        <li>Premier Protein Shakes</li>
                        <li>Shibboleth Meal Replacement Bars</li>
                        <li>Shibboleth High Protein Bars </li>
                        <li>Shibboleth High Protein Meal Replacement Shakes RTD</li>
                        <li>AHS Pancakes </li>
                        <li>HW High Protein Chicken Noodle Soup; Up to 2 pkgs</li>
                        <li>HW High Protein Beef &amp; Noodle Soup; Up to 2 pkgs</li>
                        <li>Any HW High Protein Soup; Up to 2 pkgs</li>
                        <li>Oh Yeah High Protein RTD’s</li>
                        <li>HW Spaghetti &amp; Meatballs Microwaveable Meal</li>
                        <li>Any Health Wise Microwaveable Meal</li>
                        <li>HW High Protein Oatmeal; Up to 2 pkgs</li>
                        <li>AHS Cereal Cinnamon and Coco Berry; Up to 2 pkgs</li>
                        <li>Bio-Coffee/CocoRinga </li>
                        <li>Healthwise Hot Chocolate/CoCoRinga </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>HHF</h1>
                    <ul>
                        <li>Hemp Hearts </li>
                        <li>Hemp Flakes </li>
                        <li>Hemp Protein Powder </li>
                        <li> Very Sweet Hemp Flakes </li>
                        <li>Hemp Energy Crumbles </li>
                        <li>Hemp Little Man Squares </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 6 <br> Superfoods <br> </h1>
                    <ul>
                        <li>Avocado </li>
                        <li> Pintos Beans </li>
                        <li>Black Beans </li>
                        <li>Red Beans </li>
                        <li> Pumpkin Seeds </li>
                        <li> Fava Beans (At Last Brand)</li>
                        <li> Fat Free Beef Bullion/Broth </li>
                        <li> G Butter</li>
                        <li>Almonds </li>
                        <li>Pistachios </li>
                        <li>Refried beans </li>
                        <li>Approved Peanut Butter; 2 tbsp</li>
                        <li>Macadamia Nuts </li>
                        <li>Walnuts</li>
                        <li>Pecans</li>
                        <li>Better than Peanut Butter Peanut Butter</li>
                        <li>Nuts N More Peanut Butter </li>
                        <li>Jiff Natural Peanut Butter </li>
                        <li>PB2 Powder Peanut Butter</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1> Snacks/Freebies </h1>
                    <ul>
                        <li>Bio-Coffee</li>
                        <li>Healthsmart Peanut Butter Patties; up to 1 package</li>
                        <li>Healthsmart Pecan Clusters</li>
                        <li>Healthwise Biscotti</li>
                        <li>Halo-Top Ice Cream</li>
                        <li>Arctic Zero Ice Cream</li>
                        <li>Shibboleth Ice Cream Mix</li>
                        <li>Healthwise Chips</li>
                        <li>13 Beanitos</li>
                        <li>High Protein Jello</li>
                        <li>High Protein Pudding</li>
                        <li>Fiber Gourmet Thinnables</li>
                        <li>Doubebites</li>
                        <li>Kind Plus Bar</li>
                        <li>Sugar Free Popsicles </li>
                        <li>Quest Chips</li>
                        <li>Evolve Plant Based Protein Bars</li>
                        <li> CocoRinga Moringa Hot Chocolate</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 3 <br> Complex Carbs<br></h1>
                    <ul>
                        <li>Tomatoes </li>
                        <li>Carrots(Freebies) </li>
                        <li>Onions </li>
                        <li>Quinoa </li>
                        <li>Lima Beans</li>
                        <li>Green Peas </li>
                        <li>Sweet Potato</li>
                        <li>Peas</li>
                        <li>Ezekiel Bread </li>
                        <li>Corn </li>
                        <li>Oatmeal </li>
                        <li>Long Grain Brown Rice </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Cooking Oils/Sprays </h1>
                    <ul>
                        <li>100% MCT Oil </li>
                        <li>Coconut Oil </li>
                        <li>Ghee Butter </li>
                        <li>Hemp Oil </li>
                        <li>Pam Cooking Spray </li>
                        <li>Water </li>
                        <li>Bullion </li>
                        <li>Fat Free Broth </li>
                        <li>Approved Seasonings </li>
                        <li>Anything Zero Calorie </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Category 5 <br>Fruit </h1>
                    <ul>
                        <li>Berries </li>
                        <li>Berries</li>
                        <li>Apples</li>
                        <li>Oranges</li>
                        <li>Grapefruit</li>
                        <li>Grapes</li>
                        <li>Plums</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Restaurants</h1>
                    <ul>
                        <li> Chick Fil A ~ 8-12 Grilled Chicken Nuggets with Side Salad</li>
                        <li>Chick Fil A ~ 8 Fried Chicken Nuggets with Side Salad</li>
                        <li>Mexican Restaurant ~ Bowl of Chicken Soup/No Rice</li>
                        <li>Mexican Restaurant ~ 3 Soft Chicken Tacos/Use own tortilla</li>
                        <li>McDonalds ~ Quarter Pounder on your own bread</li>
                        <li>Wendy’s ~ Small Chili over Side Salad</li>
                        <li> Burger King ~ Grilled Chicken with Side Salad</li>
                        <li>Family Style Restaurant ~ Grilled Chicken with Salad</li>
                        <li> Family Style Restaurant ~ Grilled Salmon with Vegetable Medley</li>
                        <li>Waffle House ~ 2 Scrambled Eggs, 2 tbsp of gravy, Use 1 slice of own bread</li>
                        <li>Waffle House ~ Grilled Chicken and side salad</li>
                        <li>Red Lobster ~ Shrimp Scampi with Broccoli</li>
                        <li>Steak House ~ 4-6 ounces of Steak with Asparagus</li>
                        <li>Cracker Barrel ~ Spicy Grilled Cat Fish with Green beans</li>
                        <li>Taco Bell ~ Refried beans on your own tortilla</li>
                        <li>Captain D’s ~ Grilled or broiled fish with green beans</li>
                        <li>Chinese Restaurant ~ 2 Chicken Teryaki Skewers, small Egg Drop Soup with a category 2 vegetable</li>
                        <li>Chinese Restaurant ~ Moo Goo Gai Pan or Chicken and Broccoli; scrape as much sauce off the plate as possible.</li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1> Cereals <br>(1 up to 1.5 Cups)</h1>
                    <ul>
                        <li>Kashi Go Lean Original</li>
                        <li>Kay’s Natural Cereal</li>
                        <li> HI Lo Nutritious Living</li>
                        <li>AHS Cinnamon Crunch Cereal</li>
                        <li>AHS Coco Berry Cereal</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1> Approved <br>Cheese</h1>
                    <ul>
                        <li>Lifetime Fat Free (Category 1 Lean Protein or Condiment)</li>
                        <li>Kraft Fat Free (Category 1 Lean Protein or Condiment)</li>
                        <li>Borden’s Fat Free Cheese (Category 1 Lean Protein or Condiment)</li>
                        <li>Kroger Brand Fat Free Cheese (Category 1 Lean Protein or Condiment)</li>
                        <li>Cabot Extra Light Cheese (Category 4 Protein + Fat)</li>
                        <li>Sargento Reduced Fat Cheese</li>



                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Category 2 Breads <br>(Less is Best)</h1>
                    <ul>
                        <li>La Tortilla Factory 50 Calorie Tortilla </li>
                        <li>Ole Wellness Extreme Fiber Tortilla </li>
                        <li>Healthy Life Bread </li>
                        <li>Natures Own Double Fiber Wheat Bread </li>
                        <li>Bran Crisp Bread</li>
                        <li>Healthy Life Hot Dog Buns. </li>
                        <li>Thomas Light Muffins </li>
                        <li>Udi's Millet Chia (Gluten Free) </li>
                        <li>Rudi's Gluten Free Tortilla. </li>
                        <li>Shibboleth High Protein Brown Bread. </li>
                        <li>Udi's Millet Chia (Gluten Free)</li>
                        <li>Rudi's Gluten Free Tortilla.</li>
                        <li>Shibboleth High Protein Brown Bread</li>
                        <li>Any approved bread but only 50 calorie portion</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1> Approved Sweeteners <br>(To preference)</h1>
                    <ul>
                        <li>Stevia </li>
                        <li>Splenda</li>
                        <li>Monk Fruit</li>
                        <li>Xylitol</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>Approved Beverages <br>(As needed)</h1>
                    <ul>
                        <li>Water</li>
                        <li>Zero Calorie Beverages of any type</li>
                        <li>Unsweet or Approved Tea </li>
                        <li>Coffee but only with approved sweeteners</li>
                        <li>Celsius</li>
                        <li>Advocare Spark</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>Category 1 <br> Milks</h1>
                    <ul>
                        <li>&gt;Fat Free Fair Life Milk</li>
                        <li>&gt;Kroger Carbmaster Milk</li>
                        <li>Ripple Brand Milk</li>
                        <li>Egg White International Liquid Egg Whites</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>INFIRMARY <br>Low Blood sugar <br>or Mental Weakness</h1>
                    <ul>
                        <li>Bio-Coffee</li>
                        <li>Advocare Rehydrate</li>
                        <li>Peanut Butter and Company; 1 tbsp</li>
                        <li>Approved Kind Bar Plus</li>
                        <li>Evolve Plant Based Protein Bars </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>Approved Recipes </h1>
                    <ul>
                        <li>Unstuffed Cabbage Rolls </li>
                        <li>Seafood Slimming Soup</li>
                        <li>Baja fish Tacos</li>
                        <li>Buffalo Grilled Cheese</li>
                        <li>Crockpot Buffalo Chicken</li>
                        <li>Cream Cheese Chicken Chili</li>
                        <li>Travis Spaghetti</li>
                        <li>To die for Roast</li>
                        <li>Zucchini Burrito Boats</li>
                        <li>Chicken Broccoli Casserole (Trisha Yearwood)</li>
                        <li>Chicken Pot Pie</li>
                        <li>Crockpot Beef and Broccoli</li>
                        <li>Crockpot Shredded Chicken</li>
                        <li>Hamburger Steak</li>
                        <li>Melt in Your Mouth Chicken</li>
                        <li>Mexican Zucchini Beef Skillet</li>
                        <li>AHS Macaroni and Cheese wtih 3 ounces of canned tuna</li>
                        <li>AHS Fetuccine with 3 ounces of canned tuna</li>
                        <li>Soda Chicken</li>
                        <li>Crockpot Ranch Pork Chops</li>
                        <li>Eldorado Casserole (DIP); with Healthwise Chips, 13 Beanitos, or endless celery/carrots</li>
                        <li>pimiento-cheese</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <div class="title_img">
                        <h1>Wine, Beer, Liquor</h1>
                    </div>
                    <ul>
                        <li> Red Wine; 5-10 ounces</li>
                        <li>White Wine; 5-10 ounces</li>
                        <li>Pinot Noir; 5-10 ounces</li>
                        <li>Pinot Grigio; 5-10 ounces</li>
                        <li>Chardonnay; 5-10 ounces</li>
                        <li>Merlot; 5-10 ounces</li>
                        <li>Cabernet; 5-10 ounces</li>
                        <li>Any Light Beer; up to two servings</li>
                        <li>Coors Light; 2 servings</li>
                        <li>Bud Light; 2 servings</li>
                        <li>Corona Light; 2 servings</li>
                        <li>Modelo Light, 2 servings</li>
                        <li>Liquor; 2 ounces</li>
                        <li>Vodka; 2 ounces</li>
                        <li>Tequila; 2 ounces</li>
                        <li>Rum; 2 ounces</li>
                        <li>
                            *SPECIAL INSTRUCTIONS ~ If you are having alcohol and still want to call the day a Perfect Day during the 21 challenge you must have only two approved meals during the day. No third meal and no other snacks. We will call this treat a snack. It is best
                            to have this with only a category 1+2, 4+2, or 7+2. Also, if mixing liquor with mixer the mixer must be a low calorie sugar free mixer like Ocean Spray Diet or Sprite Zero, etc.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>WOW Challenges</h1>
                    <ul>
                        <li>You may choose any WOW challenge in the main website and complete it, as is. If you choose a WOW meal plan you must stick with it completely and exactly in order to have a Perfect Day. WOW challenges are one day challenges and
                            must be accepted in the website and done exactly on the honor system or it should be marked as a holiday in your journal
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>