<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">
        <!-- Navigation -->
        <div class="header" style="text-align:center">
            <button style="padding:10px" (click)="printPage()">Print List</button>
            <!-- <script>
                function myFunction() {
                    window.print();
                }
            </script> -->
            <div class="logo-center">
                <h1>INTERVENTION ISLAND CHALLENGE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-800">
                    <h1>Animal (A)</h1>

                    <ul>

                        <li>Fish
                        </li>
                        <li> Chicken
                        </li>
                        <li>Turkey
                        </li>
                        <li>
                            Steak
                        </li>
                        <li>
                            Pork
                        </li>
                        <li>
                            Venison
                        </li>
                        <li>
                            Elk
                        </li>
                        <li>
                            Bison
                        </li>
                        <li>
                            Steak
                        </li>
                        <li>
                            Ham
                        </li>
                        <li>
                            Lamb
                        </li>
                        <li>
                            Shrimp
                        </li>
                        <li>
                            Crab
                        </li>
                        <li>
                            Crawfish
                        </li>
                        <li>
                            Oysters
                        </li>
                        <li>
                            Scallops
                        </li>
                        <li>
                            Mussels
                        </li>
                        <li>
                            Clams
                        </li>
                        <li>
                            Squid
                        </li>
                        <li>
                            Octopus
                        </li>
                        <li> Eggs
                        </li>
                        <li> Egg Whites
                        </li>
                        <li> Egg Whites International (Milk Replacement)

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1> Animal (B) </h1>

                    <ul>
                        <li> 96% Lean Ground Meat
                        </li>
                        <li>
                            93% Lean Ground Meat
                        </li>
                        <li>
                            97% Lean Hebrew National Franks
                        </li>
                        <li>
                            Bacon
                        </li>
                        <li>
                            Sausage
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">

                    <h1>Plants </h1>

                    <ul>
                        <li>Broccoli
                        </li>
                        <li>Asparagus
                        </li>
                        <li>
                            Green Leafy Vegetables
                        </li>
                        <li>
                            Bell Peppers
                        </li>
                        <li>
                            Peppers
                        </li>
                        <li>
                            Cucumbers
                        </li>
                        <li>
                            Squash
                        </li>
                        <li>
                            Okra
                        </li>
                        <li>
                            Jicama
                        </li>
                        <li>
                            Cabbage
                        </li>
                        <li>
                            Brussels
                        </li>
                        <li>
                            Sprouts
                        </li>
                        <li>
                            Cauliflower
                        </li>
                        <li>
                            Mushrooms
                        </li>
                        <li>
                            Celery
                        </li>
                        <li>
                            Green Peas in Pod
                        </li>
                        <li>
                            Hemp Hearts
                        </li>
                        <li>
                            Hemp Flakes
                        </li>
                        <li>
                            Very Sweet Hemp Flakes
                        </li>
                        <li>
                            Hemp Crumbles
                        </li>
                        <li>
                            Tomato
                        </li>
                        <li>
                            Carrots
                        </li>
                        <li>
                            Onion
                        </li>
                        <li>
                            Quinoa
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Beans/Peas </h1>

                    <ul>
                        <li> Pintos
                        </li>
                        <li>
                            Black Beans
                        </li>
                        <li>
                            Red Beans
                        </li>
                        <li>
                            Fava Beans
                        </li>
                        <li>
                            Refried Beans
                        </li>
                        <li>
                            Lima Beans
                        </li>
                        <li>
                            Northern Beans
                        </li>
                        <li>
                            Butter Beans
                        </li>
                        <li>
                            Crowder Peas
                        </li>
                        <li>
                            Black Eye Peas
                        </li>
                        <li>
                            Green Peas
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Nuts/Seeds </h1>

                    <ul>
                        <li>Almonds
                        </li>
                        <li>
                            Peanuts
                        </li>
                        <li>
                            Macadamia nuts
                        </li>
                        <li>
                            Walnuts
                        </li>
                        <li>
                            Cashews
                        </li>
                        <li>
                            Pumpkin Seeds
                        </li>
                        <li>
                            Pistachios
                        </li>

                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Fruit </h1>
                    <ul>
                        <li>Berries
                        </li>
                        <li>Apples
                        </li>
                        <li>Oranges
                        </li>
                        <li>Grapefruit
                        </li>
                        <li>Cherries
                        </li>
                        <li>Plums
                        </li>
                        <li>Grapes
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Cooking Oils/Sprays </h1>

                    <ul>
                        <li>Zero Drag 100% MCT Oil
                        </li>
                        <li>Parrillo Captri MCT Oil
                        </li>
                        <li>NOW Nutrition MCT Oil
                        </li>
                        <li>Coconut Oil
                        </li>
                        <li>Ghee Butter
                        </li>
                        <li>Hemp Oil
                        </li>
                        <li>Pam Cooking Spray
                        </li>
                        <li>Water
                        </li>
                        <li>Bullion
                        </li>
                        <li>Fat Free Broth
                        </li>
                        <li>Any seasoning or spice with low to no calories
                        </li>
                        <li>Anything with zero calories
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-800">
                    <h1>Approved beverages </h1>

                    <ul>
                        <li>Water
                        </li>
                        <li>Advocare Spark
                        </li>
                        <li>Black Coffee
                        </li>
                        <li>Unsweetened Tea
                        </li>
                        <li>Celsius
                        </li>
                        <li>Any zero or near zero calorie beverage
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-500">
                    <h1>Bread </h1>

                    <ul>
                        <li>Joseph’s High Fiber (50-100 Cal)
                        </li>
                        <li>Shibboleth High Protein Brown Bread (2-3 Slices)
                        </li>
                        <li>Brancrisp Bread (Freebie)
                        </li>
                        <li>Thin Slim Foods Bread (2 Slices)
                        </li>
                        <li>Julian Bakery Breads (2 Slices)
                        </li>
                        <li>La Tortilla Factory 50 Calorie Tortilla (1 Tortilla)
                        </li>
                        <li>Any Apporved bread but only 50 calories (1 Tortilla)
                        </li>
                        <li>Proti Parisien Toast
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-500">
                    <h1>Milk </h1>

                    <ul>
                        <li>Kroger Carbmaster Milk
                        </li>
                        <li>Fat Free Fairllife Milk
                        </li>
                        <li>Ripple Brand Milk
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Cheese </h1>

                    <ul>
                        <li>Lifetime Fat Free Cheese
                        </li>
                        <li>Sargento Reduced Fat Cheese
                        </li>
                        <li>Fat Free Cheese; Laura Lynn, Kraft, Any
                        </li>
                        <li>Cabot Extra Light Cheese
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Dairy </h1>

                    <ul>
                        <li>Low Fat Cottage Cheese
                        </li>
                        <li>Fat Free Cottage Cheese
                        </li>
                        <li>Greek Plain yogurt
                        </li>
                        <li>Oikos Triple Zero Yogurt
                        </li>
                        <li>Quark Yogurt
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Breadings/Flours </h1>

                    <ul>
                        <li>TVP
                        </li>
                        <li>Coconut flour
                        </li>
                        <li>Carbquick flour
                        </li>
                        <li>Almond flour
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Cereal </h1>

                    <ul>
                        <li>Kashi Go Lean Original
                        </li>
                        <li>Kay's Natural Cereals
                        </li>
                        <li>Hi Lo Nutritious Living Cereals
                        </li>
                        <li>AHS Ad vanced Health Systems Cereals
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Sweeteners </h1>

                    <ul>
                        <li>Stevia
                        </li>
                        <li>Splenda
                        </li>
                        <li>Monk Fruit
                        </li>
                        <li>Xylitol
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Infirmary Low Blood <br />Sugar or Mental Weakness </h1>

                    <ul>
                        <li>Bio-Coffee
                        </li>
                        <li>Advocare Rehydrate
                        </li>
                        <li>Peanut Butter and Company; 1 tbsp
                        </li>
                        <li>Approved Kind Bar Plus
                        </li>
                        <li>Evolve Plant Based Bar
                        </li>
                        <li>1/2 up to 1 Grab the Gold Snack Bar
                        </li>
                        <li>Any approved cereal
                        </li>
                        <li>Apple
                        </li>
                        <li>Melon (1 Cup)
                        </li>
                        <li>1/2 Banana
                        </li>
                    </ul>
                </div>
            </div>






            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-3 pr-3 ">
                    <div class="list_1_print h-800">
                        <h1>Pasta </h1>

                        <ul>
                            <li>Explore Cuisine Pasta
                            </li>
                            <li>Thin Slim Foods Pasta
                            </li>
                            <li>Know Better Foods Pasta
                            </li>
                            <li>Miracle Noodles
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-3 pr-3 ">
                    <div class="list_1_print h-800">
                        <h1>Snacks </h1>

                        <ul>
                            <li>Healthwise Chips
                            </li>
                            <li>Quest Chips
                            </li>
                            <li>Grab the Gold Snack Bar
                            </li>
                            <li>Double Bites Chips
                            </li>
                            <li>13 Beanitos
                            </li>
                            <li>Power Crunch Bar
                            </li>
                            <li>Bio-Coffee
                            </li>
                            <li>Healthwise Hot Chocolate
                            </li>
                            <li>Healthwise High Protein Soup
                            </li>
                            <li>Popcorn; Up to 200 Calories
                            </li>
                            <li>1/4 Cup Ole Mexican Cheese with Asparagus
                            </li>
                            <li>1/4 Cup Hummus with Asparagus or Carrots
                            </li>
                            <li>Arctic Zero
                            </li>
                            <li>Halo Top
                            </li>
                            <li>Nuts/Seeds
                            </li>
                            <li>Approved Bar; 200 calories or less
                            </li>
                            <li>Approved Shake; 200 calories or less
                            </li>
                            <li>Chocorite Peanut butter Patties
                            </li>
                            <li>Chocorite Pecan Clusters
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-6 pl-6 pr-6 ">
                    <div class="list_1_print h-800">
                        <h1>Restaurants </h1>

                        <ul>
                            <li> Chick Fil A ~ 8-12 Grilled Chicken Nuggets with Side Salad
                            </li>
                            <li>Chick Fil A ~ 8 Fried Chicken Nuggets with Side Salad
                            </li>
                            <li>Mexican Restaurant ~ Bowl of Chicken Soup/No Rice
                            </li>
                            <li>Mexican Restaurant ~ 3 Soft Chicken Tacos/Use own tortilla
                            </li>
                            <li>McDonalds ~ Quarter Pounder on your own bread
                            </li>
                            <li>Wendy's ~ Small Chili over Side Salad
                            </li>
                            <li>chicken-caesar-salad-3/"> Burger King ~ Grilled Chicken with Side Salad
                            </li>
                            <li>Family Style Restaurant ~ Grilled Chicken with Salad
                            </li>
                            <li>Family Style Restaurant ~ Grilled Salmon with Vegetable Medley
                            </li>
                            <li>Waffle House ~ 2 Scrambled Eggs, 2 tbsp of gravy, Use 1 slice of own bread
                            </li>
                            <li>Waffle House ~ Grilled Chicken and side salad
                            </li>
                            <li>Red Lobster ~ Shrimp Scampi with Broccoli
                            </li>
                            <li>Steak House ~ 4-6 ounces of Steak with Asparagus
                            </li>
                            <li>Cracker Barrel ~ Spicy Grilled Cat Fish with Green beans
                            </li>
                            <li>Taco Bell ~ Refried beans on your own tortilla
                            </li>
                            <li>Captain D's ~ Grilled or broiled fish with green beans
                            </li>
                            <li>Chinese Restaurant ~ 2 Chicken Teryaki Skewers, small Egg Drop Soup with a category 2 vegetable
                            </li>
                            <li>Chinese Restaurant ~ Moo Goo Gai Pan or Chicken and Broccoli; scrape as much sauce off the plate as possible.
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 pl-12 pr-12 ">
                    <div class="list_1_print h-200">
                        <br>
                        <h1>WOW Challenges</h1>
                        <ul>
                            <li>You may choose any WOW challenge in the main website and complete it, as is. If you choose a WOW meal plan you must stick with it completely and exactly in order to have a Perfect Day. WOW challenges are one day challenges
                                and must be accepted in the website and done exactly on the honor system or it should be marked as a holiday in your journal
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 mb-6 pl-6 pr-6 ">
                    <br>
                    <div class="list_1_print h-600">
                        <h1>Frozen MR</h1>

                        <ul>
                            <li>Healthy Choice Simply Steamers - Grilled Chicken Pesto & Vegetables
                            </li>
                            <li>Healthy Choice Simply Steamers - Grilled Chicken & Broccoli Alfredo
                            </li>
                            <li>Healthy Choice Simply Steamers - Chicken & Vegetable Stir Fry
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 mb-6 pl-6 pr-6 ">
                    <br>
                    <div class="list_1_print h-600">
                        <div class="title_img">
                            <h1>Wine, Beer, Liquor</h1>

                            <ul>
                                <li> Red Wine; 5-10 ounces
                                </li>
                                <li>
                                    White Wine; 5-10 ounces
                                </li>
                                <li>
                                    Pinot Noir; 5-10 ounces
                                </li>
                                <li>
                                    Pinot Grigio; 5-10 ounces
                                </li>
                                <li>
                                    Chardonnay; 5-10 ounces
                                </li>
                                <li>
                                    Merlot; 5-10 ounces
                                </li>
                                <li>
                                    Cabernet; 5-10 ounces
                                </li>
                                <li>
                                    Any Light Beer; up to two servings
                                </li>
                                <li>
                                    Coors Light; 2 servings
                                </li>
                                <li>
                                    Bud Light; 2 servings
                                </li>
                                <li>
                                    Corona Light; 2 servings
                                </li>
                                <li>
                                    Modelo Light, 2 servings
                                </li>
                                <li>
                                    Liquor; 2 ounces
                                </li>
                                <li>
                                    Vodka; 2 ounces
                                </li>
                                <li>
                                    Tequila; 2 ounces
                                </li>
                                <li>
                                    Rum; 2 ounces
                                </li>
                                <li> *SPECIAL INSTRUCTIONS ~ If you are having alcohol and still want to call the day a Perfect Day during the 21 challenge you must have only two approved meals during the day. No third meal and no other snacks. We will call
                                    this treat a snack. It is best to have this with only a category 1+2, 4+2, or 7+2. Also, if mixing liquor with mixer the mixer must be a low calorie sugar free mixer like Ocean Spray Diet or Sprite Zero, etc.

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>