<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">

        <div class="header" style="text-align:center">
            <button style="padding:10px" (click)="printPage()">Print List</button>

            <!-- <script>
                function printPage() {
                    window.print();
                }
            </script> -->
            <div class="logo-center">
                <h1>Summer Slimdown Challenge Week 1</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-400">
                    <h1>CATEGORY 1 LEAN PROTEIN</h1>
                    <ul>
                        <li>
                            Egg Whites (Freebies)
                        </li>
                        <li>
                            Fish
                        </li>
                        <li>
                            Chicken Breast
                        </li>
                        <li>
                            Turkey Breast
                        </li>
                        <li>
                            Pork Tenderloin
                        </li>
                        <li>
                            London Broil
                        </li>
                        <li>
                            96% Lean or Better Ground Meat
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1>CATEGORY 2 FIBROUS CARBS</h1>
                    <ul>
                        <li>Broccoli Asparagus
                        </li>
                        <li>
                            Squash
                        </li>
                        <li>
                            Cucumbers
                        </li>
                        <li>
                            Peppers
                        </li>
                        <li>
                            Okra
                        </li>
                        <li>
                            Jicama
                        </li>
                        <li>
                            Green Leafy Vegetables
                        </li>
                        <li>
                            Cabbage
                        </li>
                        <li>
                            Brussel Sprouts
                        </li>
                        <li>
                            Kraut
                        </li>
                        <li>
                            Green beans
                        </li>
                        <li>
                            Cauliflower
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1>CATEGORY 2 BREAD</h1>
                    <ul>
                        <li>
                            La Tortilla Factory Tortilla
                        </li>
                        <li>
                            Ole Extreme Wellness Tortillas
                        </li>
                        <li>
                            Approved Healthy Life Bread
                        </li>
                        <li>
                            UDI’s Millet Chia
                        </li>
                        <li>
                            Bran crisp Bread
                        </li>
                        <li>
                            Proti Toast
                        </li>
                        <li>
                            Shibboleth High Protein Brown Bread
                        </li>
                        <li>
                            Nature’s Own DFW
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1>CATEGORY 4 PROTEIN+FAT </h1>
                    <ul>
                        <li>Whole Eggs </li>
                        <li>
                            Steak, any cut; 4-6 ounces
                        </li>
                        <li>
                            93% Lean Ground Meat
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1>CATEGORY 7 SHELLFISH</h1>
                    <ul>
                        <li>
                            Crab
                        </li>
                        <li>
                            Shrimp
                        </li>
                        <li>
                            Lobster
                        </li>
                        <li>
                            Scallops
                        </li>
                        <li>
                            Oysters
                        </li>
                        <li>
                            Mussels
                        </li>
                        <li>
                            Crawfish
                        </li>
                        <li>
                            Any Shellfish
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1>CATEGORY HHF</h1>
                    <ul>
                        <li>Hemp Hearts Hemp Flakes</li>
                        <li>Hemp Crumbles</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1> CONDIMENTS</h1>
                    <ul>
                        <li> Any zero calorie condiment
                        </li>
                        <li>
                            Any condiment less than 25 calories
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-400">
                    <h1>LOW BLOOD SUGAR / PRE-WORKOUT / POST WORKOUT</h1>
                    <ul>
                        <li> Berries
                        </li>
                        <li>
                            Apple
                        </li>
                        <li>
                            Orange
                        </li>
                        <li>
                            Bio-Coffee
                        </li>
                        <li>
                            Approved Protein Shake
                        </li>
                        <li>
                            Advocare Rehydrate
                        </li>
                        <li>
                            Approved Kind Bar Plus
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>MEAL REPLACEMENTS</h1>
                    <ul>
                        <li>Mighty Muffins Healthwise Hot Chocolate
                        </li>
                        <li>
                            Bio-Coffee with HW Hot Chocolate
                        </li>
                        <li>
                            CoCoRinga with HW Hot Chocolate
                        </li>
                        <li>
                            CoCoRinga
                        </li>
                        <li>
                            Bio-Coffee with CoCoRinga
                        </li>
                        <li>
                            Bio-Coffee with 1 Scoop Beverly Protein
                        </li>
                        <li>
                            CocoRinga with 1 Scoop of Beverly Protein
                        </li>
                        <li>
                            Healthwise Hot Chocolate with Beverly Protein
                        </li>
                        <li>
                            Beverly Protein; 2 Scoops with water
                        </li>
                        <li>
                            Beverly Protein; 2 Scoops with Egg Whites International
                        </li>
                        <li>
                            Quest Bar
                        </li>
                        <li>
                            Approved Shake
                        </li>
                        <li>
                            1/3 Hemp Bar
                        </li>
                        <li>
                            AHS Mac and Cheese with 3 ounces of category 1 LP
                        </li>
                        <li>
                            AHS Fettuccine with 3 ounces of category 1 LP
                        </li>
                        <li>
                            Real Good Pizza
                        </li>
                        <li>
                            Real Good Enchilada
                        </li>
                        <li>
                            Pure Protein Bar
                        </li>
                        <li>
                            Premier Protein Bar
                        </li>
                        <li>
                            Shibboleth High Protein Soups; Up to 2 packages
                        </li>
                        <li>
                            AHS Pancakes; up to 2 packages
                        </li>
                        <li>
                            Healthwise Oatmeal; up to 2 packages
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>RESTAURANTS </h1>
                    <ul>
                        <li> Chick Fila Grilled Chicken nuggets with side salad
                        </li>
                        <li>
                            Wendy’s Chili over side salad
                        </li>
                        <li>
                            Mexican Restaurant; Bowl of Chicken Soup with no rice
                        </li>
                        <li>
                            Mexican Restaurant; 3 Soft Chicken Taco; use only one of your own shells
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-200">
                    <h1>WOW Challenges</h1>
                    <ul>
                        <li>You may choose any WOW challenge in the main website and complete it, as is. If you choose a WOW meal plan you must stick with it completely and exactly in order to have a Perfect Day. WOW challenges are one day challenges and
                            must be accepted in the website and done exactly on the honor system or it should be marked as a holiday in your journal
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>