<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">

        <div class="header" style="text-align:center">
            <button style="padding:10px" (click)="printPage()">Print List</button>
            <!-- <script>
                function printPage() {
                    window.print();
                }
            </script> -->
            <div class="logo-center">
                <h1>Summer Slimdown Challenge</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-900">
                    <h1>Category 1, 4, 7</h1>
                    <ul>

                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/egg-whites/">Egg Whites(Freebies) </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/fish/">Fish </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/chicken-breast-2/">Chicken Breast  </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/turkey-breast/">Turkey Breast  </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pork-tenderloin/">Pork Tenderloin  </a></li>
                        <li><a target="_blank" href="#">London Broil </a></li>
                        <li><a target="_blank" href="#">Triple Zero Yogurt </a></li>

                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=low+fat+cottage+cheese">Low Fat Cottage Cheese   </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=fat+free+cottage+cheese">Fat Free Cottage Cheese  </a></li>
                        <li><a target="_blank" href="#">Kroger Carbmaster Milk </a></li>
                        <li><a target="_blank" href="#">Fat Free Fairlife Milk </a></li>
                        <li><a target="_blank" href="#">96% or better Lean Ground Meat  </a></li>
                        <li><a target="_blank" href="#">97% Fat Free Hebrew National Franks   </a></li>
                        <li><a target="_blank" href="#">Cabot Extra Light Cheese </a></li>
                        <li><a target="_blank" href="#">Reduced Fat Sargento Cheese </a></li>
                        <li><a target="_blank" href="#">Shrimp </a></li>
                        <li><a target="_blank" href="#">Crab (No imitation Crab) </a></li>
                        <li><a target="_blank" href="#">Lobster </a></li>
                        <li><a target="_blank" href="#">Oysters </a></li>
                        <li><a target="_blank" href="#">Clams </a></li>
                        <li><a target="_blank" href="#">Crawfish </a></li>
                        <li><a target="_blank" href="#">Scallops </a></li>
                        <li><a target="_blank" href="#">Mussels </a></li>
                        <li><a target="_blank" href="#">Any Shellfish </a></li>
                        <li><a target="_blank" href="#">Kroger Carbmaster Yogurt </a></li>
                        <li><a target="_blank" href="#">Fat Free Cream Cheese</a></li>
                        <li><a target="_blank" href="#">Whole Egg</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-900">
                    <h1>Category 2 <br>Fibrous Carbs</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/broccoli/">Broccoli  </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/asparagus/">Asparagus </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/squash/">Squash </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/cucumber/">Cucumbers</a></li>
                        <li><a target="_blank" href="#">Peppers </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/okra/">Okra </a></li>
                        <li><a target="_blank" href="#">Jicima</a></li>
                        <li><a target="_blank" href="#">Green Leafy Vegetables </a></li>
                        <li><a target="_blank" href="#">Cabbage  </a></li>
                        <li><a target="_blank" href="#">Brussels </a></li>
                        <li><a target="_blank" href="#">Brancrsip Bread</a></li>
                        <li><a target="_blank" href="#">Green Beans </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/cauliflower/">Cauliflower </a></li>
                        <li><a target="_blank" href="#">Shibboleth High Protein Brown Bread </a></li>

                        <li><a target="_blank" href="#">Proti Toast </a></li>
                        <li><a target="_blank" href="#">50 calorie serving of any approved bread  </a></li>
                        <li><a target="_blank" href="#">Ezekiel Bread; 1 slice  </a></li>
                        <li><a target="_blank" href="#">Mushrooms</a></li>
                        <li><a target="_blank" href="#">Miracle Rice  </a></li>
                        <li><a target="_blank" href="#">Know Better Croutons  </a></li>
                        <li><a target="_blank" href="#">Know Better Thins </a></li>
                        <li><a target="_blank" href="#">Celery</a></li>
                        <li><a target="_blank" href="#">Thomas Light Muffins</a> </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-900">
                    <h1>Breadings Flours</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/bob-s-red-mill-tvp/">TVP</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=coconut+flour">Coconut Flour</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/carbquik/">Carbquik</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-900">
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/mighty_muffin/">Mighty Muffin</a></li>
                        <li><a target="_blank" href="#">Healthwise Hot Chocolate</a></li>
                        <li><a target="_blank" href="#">Quest Cookie</a></li>
                        <li><a target="_blank" href="#">Power Crunch Bar</a></li>
                        <li><a target="_blank" href="#">Quest Bar</a></li>
                        <li><a target="_blank" href="#">Approved Shake</a></li>
                        <li><a target="_blank" href="#">1/3 Hemp Bar</a></li>
                        <li><a target="_blank" href="#">AHS Mac and Cheese </a></li>
                        <li><a target="_blank" href="#">AHS Fetuccine </a></li>
                        <li><a target="_blank" href="#">AHS Cheesesteak Pasta </a></li>
                        <li><a target="_blank" href="#">Oh Yeah One Bar </a></li>
                        <li><a target="_blank" href="#">Healthwise Microwavebale Meal </a></li>
                        <li><a target="_blank" href="#">Real Good Pizzas </a></li>
                        <li><a target="_blank" href="#">Real Good Enchiladas </a></li>
                        <li><a target="_blank" href="#">Know Better Waffles </a></li>
                        <li><a target="_blank" href="#">Know Better Doughnuts </a></li>
                        <li><a target="_blank" href="#">Atkins Bar </a></li>
                        <li><a target="_blank" href="#">Know Better Cookies </a></li>
                        <li><a target="_blank" href="#">G Butter </a></li>
                        <li><a target="_blank" href="#">Pure Protein Bars </a></li>
                        <li><a target="_blank" href="#">Premier Protein Bars </a></li>
                        <li><a target="_blank" href="#">Healthwise High Protein  </a></li>
                        <li><a target="_blank" href="#">Shibboleth High Protein Soups</a></li>
                        <li><a target="_blank" href="#">Premier Protein Shakes</a></li>
                        <li><a target="_blank" href="#">Shibboleth High Protein Bars </a></li>
                        <li><a target="_blank" href="#">Shibboleth High Protein Meal Replacement Shakes RTD</a></li>
                        <li><a target="_blank" href="#">AHS Pancakes </a></li>
                        <li><a target="_blank" href="#">Healthwise Oatmeal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>HHF</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hanitoba-harvest-hemp-hearts/">Hemp Hearts </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hemp-hearts-protein-flakes/">Hemp Flakes  </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/hemp-hearts-protein-powder">Hemp Protein Powder </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 6 <br> Superfoods <br> </h1>
                    <ul>
                        <li><a target="_blank" href="#">Avocado  </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pinto-beans/"> Pintos Beans </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/black-beans/">Black Beans </a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/red-beans/">Red Beans </a></li>
                        <li><a target="_blank" href="#"> Pumpkin Seeds </a></li>
                        <li><a target="_blank" href="#"> fava beans (At Last Brand)</a></li>
                        <li><a target="_blank" href="#"> Fat Free Beef Bullion/Broth </a></li>
                        <li><a target="_blank" href="#"> G Butter</a></li>
                        <li><a target="_blank" href="#">Almonds </a></li>
                        <li><a target="_blank" href="#">Pistacios </a></li>
                        <li><a target="_blank" href="#">Refried beans </a></li>
                        <li><a target="_blank" href="#">Approved Peanut Butter; 2 tbsp</a></li>
                        <li><a target="_blank" href="#">Hummus</a></li>
                        <li><a target="_blank" href="#">Avocado  </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1> Snacks</h1>
                    <ul>
                        <li><a target="_blank" href="#">Bio-Coffee</a></li>
                        <li><a target="_blank" href="#">Healthsmart Peanut Butter  Patties</a></li>
                        <li><a target="_blank" href="#">Healthsmart Pecan Clusters</a></li>
                        <li><a target="_blank" href="#">Healthwise Biscotti</a></li>
                        <li><a target="_blank" href="#">Halo-Top Ice Cream</a></li>
                        <li><a target="_blank" href="#">Arctic Zero Ice Cream</a></li>
                        <li><a target="_blank" href="#">Shibboleth Ice Cream Mix</a></li>
                        <li><a target="_blank" href="#">Healthwise Chips</a></li>
                        <li><a target="_blank" href="#">13 Beanitos</a></li>
                        <li><a target="_blank" href="#">High Protein Jello</a></li>
                        <li><a target="_blank" href="#">High Protein Pudding</a></li>
                        <li><a target="_blank" href="#">Fiber Gourmet Thinnables</a></li>
                        <li><a target="_blank" href="#">Doubebites</a></li>
                        <li><a target="_blank" href="#">Kind Plus Bar</a></li>
                        <li><a target="_blank" href="#">Sugar Free Popcicles </a></li>
                        <li><a target="_blank" href="#">Quest Chips</a></li>
                        <li><a target="_blank" href="#">Evolve Plant Based Protein Bars</a></li>
                        <li><a target="_blank" href="#"> CocoRinga Moringa Hot Chocolate</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 3 <br> Complex Carbs<br></h1>
                    <ul>
                        <li><a target="_blank" href="#">Tomatoes</a> </li>
                        <li><a target="_blank" href="#">Carrots(Freebies) </a> </li>
                        <li><a target="_blank" href="#">Onions </a> </li>
                        <li><a target="_blank" href="#">Quinoa</a> </li>
                        <li><a target="_blank" href="#">Lima Beans</a></li>
                        <li><a target="_blank" href="#">Green Peas</a> </li>

                        <li><a target="_blank" href="#">Udi's Millet Chia (Gluten Free)</a> </li>
                        <li><a target="_blank" href="#">Rudi's Gluten Free Tortilla.</a> </li>
                        <li><a target="_blank" href="#">Shibboleth High Protein Brown Bread</a> </li>
                        <li><a target="_blank" href="#">Any approved bread but only 50 calorie portion</a> </li>
                    </ul>
                </div>
            </div>
        </div>




        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Cooking Oils/Sprays </h1>
                    <ul>
                        <li><a target="_blank" href="#">100% MCT Oil</a> </li>
                        <li><a target="_blank" href="#">Coconut Oil </a> </li>
                        <li><a target="_blank" href="#">Ghee Butter </a> </li>
                        <li><a target="_blank" href="#">Hemp Oil</a> </li>
                        <li><a target="_blank" href="#">Pam Cooking Spray </a></li>
                        <li><a target="_blank" href="#">Water</a> </li>
                        <li><a target="_blank" href="#">Bullion</a> </li>
                        <li><a target="_blank" href="#">Fat Free Broth</a> </li>
                        <li><a target="_blank" href="#">Approved Seasonings </a> </li>
                        <li><a target="_blank" href="#">Anything Zero Calorie </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Category 5 <br>Fruit </h1>
                    <ul>
                        <li><a target="_blank" href="#">Berries</a> </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Restaurants</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/grilled-nuggets/"> Chick Fil A  ~ 8-12 Grilled Chicken Nuggets with Side Salad</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/8-chicken-nuggets/">Chick Fil A ~ 8 Fried Chicken Nuggets with Side Salad</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/mexican-restaurant-bowl-of-chicken-soup-with-no-rice/">Mexican Restaurant ~ Bowl of Chicken Soup/No Rice</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/mexican-restaurant-3-soft-chicken-tacos-with-only-1-of-your-approved-tortillas/">Mexican Restaurant ~ 3 Soft Chicken Tacos/Use own tortilla</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/quarter-pounder/">McDonalds ~ Quarter Pounder on your own bread</a></li>
                        <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/product/small-chili/">Wendy’s ~ Small Chili over Side Salad</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/chicken-caesar-salad-3/"> Burger King ~ Grilled Chicken with Side Salad</a></li>
                        <li><a target="_blank" href="#">Family Style Restaurant ~ Grilled Chicken with Salad</a></li>
                        <li><a target="_blank" href="#"> Family Style Restaurant ~ Grilled Salmon with Vegetable Medley</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/2-eggs-2/">Waffle House ~ 2 Scrambled Eggs, 2 tbsp of gravy, Use 1 slice of own bread</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/grilled-chicken-salad-6/">Waffle House ~ Grilled Chicken and side salad</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/shrimp-scampi-and-broccoli/">Red Lobster ~ Shrimp Scampi with Broccoli</a></li>
                        <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/product/outback-special-steak/">Steak House ~ 4-6 ounces of Steak with Asparagus</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/spicy-grilled-catfish-and-egg-whites/">Cracker Barrel ~ Spicy Grilled Cat Fish with Green beans</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/side-of-pintos-and-cheese-in-your-la-tortilla-factory-tortilla/">Taco Bell ~ Refried beans on your own tortilla</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/grilled-white-fish-dinner/">Captain D’s ~ Grilled or broiled fish with green beans</a></li>
                        <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/product/chicken-teriaki-skewers-with-vegetable-medley-2/">Chinese Restaurant ~ 2 Chicken Teryaki Skewers, small Egg Drop Soup with a category 2 vegetable</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/chicken-and-broccoli-with-1-side-of-hot-and-sour-soup-2/">Chinese Restaurant ~ Moo Goo Gai Pan or Chicken and Broccoli; scrape as much sauce off the plate as possible.</a></li>

                    </ul>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1> Cereals <br>(1 up to 1.5 Cups)</h1>
                    <ul>
                        <li>Kashi Go Lean Original</li>
                        <li>Kay’s Natural Cereal</li>
                        <li> HI Lo Nutritious Living</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1> Approved <br>Cheese</h1>
                    <ul>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/lifetime-fat-free-cheese/">Lifetime Fat Free (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kraft-fat-free-singles-cheese/">Kraft Fat Free (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/borden-fat-free-singles/">Borden’s Fat Free Cheese (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="#">Kroger Brand Fat Free Cheese (Category 1 Lean Protein or Condiment)</a></li>
                        <li><a target="_blank" href="#">Cabot Extra Light Cheese (Category 4 Protein + Fat)</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Category 2 Breads <br>(Less is Best)</h1>
                    <ul>
                        <li>La Tortilla Factory 50 Calorie Tortilla </li>
                        <li>Ole Wellness Extreme Fiber Tortilla </li>
                        <li>Healthy Life Bread </li>
                        <li>Natures Own Double Fiber Wheat Bread </li>
                        <li>Bran Crisp Bread</li>
                        <li>Healthy Life Hot Dog Buns. </li>
                        <li>Thomas Light Muffins </li>
                        <li>Udi's Millet Chia (Gluten Free) </li>
                        <li>Rudi's Gluten Free Tortilla. </li>
                        <li>Shibboleth High Protein Brown Bread. </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1> Approved Sweeteners <br>(To preference)</h1>
                    <ul>
                        <li>Stevia </li>
                        <li>Splenda</li>
                        <li>Monk Fruit</li>
                        <li>Xylitol</li>
                    </ul>
                </div>
            </div>




        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-200">
                    <h1>WOW Challenges</h1>
                    <ul>
                        <li>You may choose any WOW challenge in the main website and complete it, as is. If you choose a WOW meal plan you must stick with it completely and exactly in order to have a Perfect Day. WOW challenges are one day challenges and
                            must be accepted in the website and done exactly on the honor system or it should be marked as a holiday in your journal
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>