<!------------------- Weight loss banner Section ------------------------------------->
<section class="add-section">
  <div class="container">
     <img style="width:100%" title="Home page" alt="Shibboleth!" src="../../../assets/img/add-img-1.png" class="add-img">
  </div>
</section>
<!------------------- Footer Section  ------------------------------------->
<section class="footer-copywrite">
  <div class="container">
     <div class="social-media">
        <ul>
           <li><a target="_blank" href="https://www.facebook.com/travismartin777"> <img src="../../../assets/img/facebook.png" style="width:50px"></a></li>
           <li><a target="_blank" href="https://twitter.com/travismartintv7"> <img src="../../../assets/img/twitter.png" style="width:50px"></a></li>
           <li><a target="_blank" href="https://www.instagram.com/travisjack777/"> <img src="../../../assets/img/instagram.png" style="width:50px"></a></li>
           <li><a target="_blank" href="http://shibbolethministry.com/shibbolethapp/"> <img src="../../../assets/img/app.jpg" style="width:50px"></a></li>
        </ul>
        <p>©2018 Uncommon Paths, LLC | All Rights Reserved </p>
     </div>
  </div>
</section>