<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">
        <!-- Navigation -->
        <div class="header" style="text-align:center">
            <button style="padding:10px" (click)="printPage()">Print List</button>
            <!-- <script>
                function printPage() {
                    window.print();
                }
            </script> -->
            <div class="logo-center">
                <h1>Zero Drag</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Category 1 Lean Protein (2-8 ounces)</h1>
                    <ul>
                        <li>Egg Whites </li>
                        <li>
                            <Fish </li>
                                <li>Chicken Breast </li>
                                <li>Turkey Breast </li>
                                <li>Pork Tenderloin</li>
                                <li>Boars Head London Broil </li>
                                <li>Low Fat Cottage Cheese </li>
                                <li>Fat Free Cottage Cheese</li>
                                <li>Chobani Greek Plain Yogurt (1/2 up to 1 cup) </li>
                                <li>97% Lean Hebrew National Franks</li>
                                <li>96% Lean Ground Meat</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>
                        Category 2 Fibrous Carbs (1/2 up to 1 cup)</h1>
                    <ul>
                        <li>Broccoli </li>
                        <li>Asparagus </li>
                        <li>Squash </li>
                        <li>Okra </li>
                        <li>Green leafy vegetables </li>
                        <li>Celery </li>
                        <li>Cauliflower </li>
                        <li>Cucumbers</li>
                        <li>Bell Peppers </li>
                        <li>Hot peppers</li>
                        <li>Sweet Peppers</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">

                    <h1>
                        Category 4 (Protein + Fat) (2-6 Ounces)</h1>

                    <ul>
                        <li>Eggs </li>
                        <li>Steak; any cut </li>
                        <li>Pork </li>
                        <li>Pork Ribs </li>
                        <li>Spareribs </li>
                        <li>Brisket </li>
                        <li> 93% Lean up to 95% Lean Ground Meat </li>
                        <li> Chicken Wings (4-6 Ounces and no sweet sauces) </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">

                    <h1>
                        Category 6 Superfoods</h1>

                    <ul>
                        <li> Pintos Beans (1/2 up to 1 cup)</li>
                        <li>Black Beans (1/2 up to 1 cup)</li>
                        <li>Red Beans (1/2 up to 1 cup)</li>
                        <li>Nuts (1-2 handuls)</li>
                        <li>Seeds (1-2 handfuls)</li>
                        <li>Nuts N More PButter (1-2 tbsp)</li>
                        <li>Better N Peanut Butter (1-2 tbsp)</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>
                        Category 7 (Shellfish)(2-8 Ounces)</h1>
                    <ul>
                        <li>Crab</li>
                        <li>Oysters </li>
                        <li>Scallops </li>
                        <li>Mussels</li>
                        <li>Clams </li>
                        <li>Shrimp</li>
                        <li>Lobster</li>
                        <li> Escargot</li>
                        <li>Squid</li>
                        <li>Octopus</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">

                    <h1>
                        HHF</h1>

                    <ul>
                        <li>Hemp Hearts (1-3 tbsp) </li>
                        <li>Hemp Flakes (1-3 tbsp) </li>
                        <li>Hemp Crumbles (Condiment) </li>
                        <li>Sweet Hemp Flakes (1-3 tbsp)</li>
                        <li>Hemp Protein Powder (1 Scoop with 1 Scoop of any other App Shake)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>
                        Cooking Fats/ Condiments</h1>
                    <ul>
                        <li>Pam Cooking Spray </li>
                        <li> Zero Drag 100% MCT Oil</li>
                        <li>100% MCT Oil</li>
                        <li> Hemp Oil</li>
                        <li>Coconut Oil </li>
                        <li> Ghee Butter</li>
                        <li> Fat Free Beef Bullion/Broth </li>
                        <li>Fat Free Chicken Bullion/Broth</li>
                        <li>
                            If cooking any food with any other oil or fat or eating in restaurant do not include any category 3 or category 5 on the plate while in weight loss mode.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">

                    <h1>
                        Approved Breading</h1>

                    <ul>
                        <li>TVP</li>
                        <li>Almond Flour</li>
                        <li>Coconut Flour</li>
                        <li>Carbquik</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">

                    <h1>
                        Cereals (1 up to 1.5 Cups)</h1>

                    <ul>
                        <li>Kashi Go Lean Original</li>
                        <li>Kay’s Natural Cereal</li>
                        <li> HI Lo Nutritious Living</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">

                    <h1>
                        Approved Cheese</h1>

                    <ul>
                        <li>>Lifetime Fat Free (Category 1 Lean Protein or Condiment)</li>
                        <li>Kraft Fat Free (Category 1 Lean Protein or Condiment)</li>
                        <li>Borden’s Fat Free Cheese (Category 1 Lean Protein or Condiment)</li>
                        <li>Kroger Brand Fat Free Cheese (Category 1 Lean Protein or Condiment)</li>
                        <li>Cabot Extra Light Cheese (Category 4 Protein + Fat)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">

                    <h1>
                        Category 2 Breads (Less is Best)</h1>

                    <ul>
                        <li>La Tortilla Factory 50 Calorie Tortilla</li>
                        <li>Ole Wellness Extreme Fiber Tortilla </li>
                        <li>Healthy Life Bread </li>
                        <li>Natures Own Double Fiber Wheat Bread </li>
                        <li>Bran Crispbread</li>
                        <li>Healthy Life Hot Dog Buns </li>
                        <li>Thomas Light Muffins </li>
                        <li>Udi's Millet Chia (Gluten Free) </li>
                        <li>Rudi's Gluten Free Tortilla. </li>
                        <li>Shibboleth High Protein Brown Bread </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">

                    <h1>
                        Approved <br>Sweeteners<br>(To preference)</h1>

                    <ul>
                        <li>Stevia </li>
                        <li>Splenda</li>
                        <li>Monk Fruit</li>
                        <li>Xylitol</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">

                    <h1>
                        Approved Beverages (As needed)</h1>

                    <ul>
                        <li>Water</li>
                        <li>Zero Calorie Beverages of any type</li>
                        <li>Unsweet or Approved Tea</li>
                        <li>Coffee but only with approved sweeteners</li>
                        <li>Celsius</li>
                        <li>Advocare Spark</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>
                        Category 1 Milks</h1>

                    <ul>
                        <li>Fat Free Fair Life Milk</li>
                        <li>Kroger Carbmaster Milk</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">

                    <h1>
                        SNACKS (Up to 1 per day and only for mental weakness)</h1>

                    <ul>
                        <li>Bio-Coffee: Up to two serving</li>
                        <li>Healthwise or Shibboleth High Protein Hot Chocolate; up to 2 packages</li>
                        <li>Healthsmart Peanut Butter Patties; up to 1 package</li>
                        <li>Healthwise High Protein Soups; ONLY 1 package</li>
                        <li>Shibboleth High Protein Soups; ONLY one package</li>
                        <li>Trio-plex cookie; only 1 cookie</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">

                    <h1>
                        INFIRMARY Low Blood sugar or Mental Weakness</h1>

                    <ul>
                        <li>Bio-Coffee</li>
                        <li>Advocare Rehydrate</li>
                        <li>Peanut Butter and Company; 1 tbsp</li>
                        <li>Approved Kind Bar Plus</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1200">

                    <h1>
                        MEAL REPLACEMENTS (Protein/Fiber)</h1>

                    <ul>
                        <li>Mighty Muffin</li>
                        <li>AHS Cereal; 2 packages with Approved Milk</li>
                        <li> Zero calorie condiments of any type</li>
                        <li>Shibboleth High Protein Hot Chocolate with or without 1 tsp Ghee</li>
                        <li>Healthwise High Protein Oatmeal; 2 packages with or without 1 tbsp of HHF </li>
                        <li>AHS Mac and Cheese with a 2 ounces of a category 1 lean protein</li>
                        <li>AHS Fettuccine with 2 ounces of category 1 lean protein</li>
                        <li>AHS Mac and Cheese with 1-2 tbsp of HHF</li>
                        <li>AHS Fettuccine with 1-2 tbsp of HHF</li>
                        <li>AHS Cheesesteak Pasta; 2 Packages</li>
                        <li>Healthwise Prepackaged microwave meals; Any</li>
                        <li>AHS Cinnamon Crisp Cereal; 2 packages with 1 tbsp of HHF or Sweet Hemp Flakes. Use 1/2 cup of approved category 1 milk.</li>
                        <li>Kay’s Natural Protein Cereals; 1.5 Cups. Add approved category 1 milk.</li>
                        <li>Shibboleth Frozen Yogurt; Mix according to instructions; 2 cups is meal. Taste like snow cream.</li>
                        <li>Hemp Bar; 1/3 of one Hemp Bar is MR.</li>
                        <li>AHS Pancakes; Up to 2 packages with approved zero calorie or sugar free syrup.</li>
                        <li>Know Better Waffle</li>
                        <li>Know Better Doughnut</li>
                        <li>Know Better Doughnut with 1 tsp of G-Butter</li>
                        <li>Quest Bar</li>
                        <li>Oh Yeah One Bar</li>
                        <li>Shibboleth Protein Bar</li>
                        <li>Shibboleth Approved Shake; 250 calories or less</li>
                        <li>Real Good Pizza (Small One</li>
                        <li>Real Good Enchiladas</li>
                        <li>G-Butter; 300 calorie serving is MR</li>
                        <li>Healthwise High Protein Soups; up to two packages as meal</li>
                        <li>Shibboleth High Protein Soups; up to two packages</li>
                        <li>Trio-plex cookies; up to 2 cookies</li>
                        <li>Quest Bars</li>
                        <li>Jimmy Dean Delights Breakfast Sandwich </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1200">

                    <h1>
                        Restaurants (Keep at 300-500 Calories)</h1>

                    <ul>
                        <li>Chick Fil A ~ 8-12 Grilled Chicken Nuggets with Side Salad</li>
                        <li>Chick Fil A ~ 8 Fried Chicken Nuggets with Side Salad</li>
                        <li>Mexican Restaurant ~ Bowl of Chicken Soup/No Rice</li>
                        <li>Mexican Restaurant ~ 3 Soft Chicken Tacos/Use own tortilla</li>
                        <li>McDonalds ~ Quarter Pounder on your own bread</li>
                        <li>Wendy’s ~ Small Chili over Side Salad</li>
                        <li> Burger King ~ Grilled Chicken with Side Salad</li>
                        <li>Family Style Restaurant ~ Grilled Chicken with Salad</li>
                        <li> Family Style Restaurant ~ Grilled Salmon with Vegetable Medley</li>
                        <li>Waffle House ~ 2 Scrambled Eggs, 2 tbsp of gravy, Use 1 slice of own bread</li>
                        <li>Waffle House ~ Grilled Chicken and side salad</li>
                        <li>Red Lobster ~ Shrimp Scampi with Broccoli</li>
                        <li>Steak House ~ 4-6 ounces of Steak with Asparagus</li>
                        <li>Cracker Barrel ~ Spicy Grilled Cat Fish with Green beans</li>
                        <li>Taco Bell ~ Refried beans on your own tortilla</li>
                        <li>Captain D’s ~ Grilled or broiled fish with green beans</li>
                        <li>Chinese Restaurant ~ 2 Chicken Teryaki Skewers, small Egg Drop Soup with a category 2 vegetable</li>
                        <li>Chinese Restaurant ~ Moo Goo Gai Pan or Chicken and Broccoli; scrape as much sauce off the plate as possible.</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1200">

                    <h1>
                        Condiments <br>(5/2/Few Rule)</h1>

                    <ul>
                        <li>A1</li>
                        <li>Reduced Sugar Ketchup</li>
                        <li>Mustard</li>
                        <li>Light Italian Dressing</li>
                        <li>Zero Calorie Walden Farms Condiments</li>
                        <li>25 calorie per serving seasoning packs</li>
                        <li>25 calorie per serving condiments of any type</li>
                        <li>15 calorie per serving creamers and sugar subs in coffee</li>
                        <li> Kraft Fat Free Mayo</li>
                        <li> Know Better Foods Croutons up to 50 calories with meal</li>
                        <li> Know Better Foods Cracker Thins</li>
                        <li>Salt </li>
                        <li>epper </li>
                        <li>Zero calorie condiments of any type</li>
                        <li>Know Foods Pancake Syrup</li>
                        <li>Walden Farms Calorie Free Pancake Syrup</li>
                        <li>Sugar Free Pancake Syrup</li>
                        <li>Any BBQ sauce with less than 25 calories in a serving.</li>
                        <li>Stubbs Original BBQ sauce</li>
                        <li>Stubbs Mop N Sauce</li>
                        <li>Tabasco Sauce</li>
                        <li>Berries; Palm Full only</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-1000">
                    <h1>Everyday Shibboleth Approved Quick Budget Friendly Meals</h1>
                    <ul>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">SANDWICH :- </b> A Shibboleth approved sandwich includes but is not limited to 2 slices of approved bread, 2-6 ounces of approved deli meat, optional approved cheese and optional approved condiments.  Always best to use La tortilla 50 calorie tortilla or 1 slice of bread with large hearts of romaine leaf as top part of sandwich. </a></li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">SPAM SANDWICH :- </b> A Shibboleth approved spam sandwich is 2 slices of approved bread, 2 ounces of Turkey Spam fried in MCT Oil with or without fat free cheese and approved condiments. </a></li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">GRILLED CHEESE :- </b> A Shibboleth approved Grilled Cheese sandwich is 2 slices of approved bread, 2-4 slices of fat free cheese or up to 2 ounces of Cabot Light Cheese melted between the lids of approved bread and fried or heated in MCT Oil.  </a></li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">HOT DOG :-</b> A Shibboleth approved Hot Dog includes but is not limited to 1 approved Healthy Life Hot Dog Bun or even better a La Tortilla Factory 50 calorie tortilla.  Optionally you may use 2 tbsp of Hormel Turkey Chili, Slawsa brand condiment, and other approved condiments.  </a></li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">HAMBURGER :- </b> A Shibboleth approved Hamburger is 2-6 ounces of 93% lean up to 99% lean ground meat (turkey or beef) patty grilled or fried between the lids of two large Hearts of Romaine leaves with approved cheese and approved condiments.  You can use approved bread or tortilla but less bread is always best. </a></li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">PEANUT BUTTER AND JELLY :- </b> A Shibboleth approved Peanut Butter and Jelly Sandwich is 2 tablespoons of approved peanut butter with or without 1 tbsp of approved sugar free jelly.  Place between the lids of two slices of approved bread or better yet in an approved tortilla.  The La Tortilla 50 calorie tortilla is always the best choice, well, unless you love brancrisp bread like I do. </a></li>
                        <li style="text-align: justify;"><a href="http://www.myshibboleth.com/survival-tools/recipe/french-toast/" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">FRENCH TOAST :- </b> Shibboleth approved recipe </a></li>
                        <li style="text-align: justify;"><a href="http://www.myshibboleth.com/survival-tools/recipe/egg-white-omelet-with-spinach/" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">EGG WHITE OMELET :- </b> Shibboleth approved recipe </a></li>
                        <li style="text-align: justify;"><a href="http://www.myshibboleth.com/survival-tools/food-search/?search=turkey+bacon" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">EGG MCMUFFIN :- </b> Thomas Light Muffin, 1 Fried Egg, Approved Cheese, with or without approved turkey bacon.</a></li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">GRILLED CHICKEN SALAD :- </b> 2- 6 Ounces of Grilled Chicken over any kind of leafy green.  You may use approved cheese as a condiment.  You may use eggs as a condiment.  Tomatoes as a condiment.  etc.  Keep overall calories at 300 or below.  <b>Know Better Foods company has a terrific crouton that you can use as a condiment.</b>  I keep these in my survival kit.  You should only use an approved salad dressing.  If you find yourself without a survival kit and at a restaurant then ask for light Italian only.  If the restaurant doesn’t have a LIGHT Italian, don’t sacrifice results for some sugar laden and or fatty salad dressing.  Simply use the juice of fresh lemons and limes as your salad dressing.  </a></li>
                        <li style="text-align: justify;">
                            <a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">SHAKE :- </b> There are many approved meal replacement shakes and plenty of approved protein shakes that you can use as a meal replacement.  Here are a few of the best for weight loss. </a><br>                            1. <a href="http://www.myshibboleth.com/survival-tools/food/advocare-mr-shake/"> Advocare Mr Shake</a><br> 2. <a href="http://www.myshibboleth.com/survival-tools/food/oh-yeah-milkshake-powder/"> Milk Shake Powder</a><br>3.
                            <a href="http://www.myshibboleth.com/survival-tools/food/chocolite-protein-powder/"> Chocolite Protein Powder</a><br>
                        </li>
                        <li style="text-align: justify;">
                            <a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">MEAl BAR :- </b> There are many approved meal replacement protein bars.  Here are a few of the best. </a><br> 1. <a href="http://www.myshibboleth.com/survival-tools/food/quest-bar-gluten-free-natural-protein-bar/"> Quest Bars (all flavors)</a><br>                            2. <a href="http://www.myshibboleth.com/survival-tools/food/oh-yeah-one/"> Oh Yeah ONE</a><br> 3. <a href="http://www.myshibboleth.com/survival-tools/food/power-crunch-protein-energy-bar/"> Power Crunch Protein Energy Bar</a><br>                            4. <a href="http://www.myshibboleth.com/survival-tools/food/shibboleth-protein-bars/"> Shibboleth Protein Bars</a><br>
                        </li>
                        <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">BOWL OF CEREAL  :- </b> An approved bowl of cereal is 4- 8 ounces of Kroger Carbmaster Milk or 4-8 ounces of Fat Free Fair life milk with 1 up to 1.5 cups of one of the approved Phase 1 cereals.  You may use approved sweeteners and you may use berries as a condiment.  It is best to keep total calories from cereal at 250 or less. </a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>


</body>