<div class="col-lg-12 p-0 top_banner">
    <img src="assets/challengeimages/Untitled-1.jpg" class="img-responsive">
</div>
<!-- Page Content -->
<div class="container-fluid">
    <div class="main_section">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item home_link">
                <a class="nav-link" [routerLink]="['/challenge']"><img src="assets/challengeimages/home.png"></a>
            </li>
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Days 1-28</a> </li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Video</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Rules</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <h1 class="tab_title">EAT ONLY FROM THIS LIST DAYS 1-7</h1>
                <ul class="navbar-nav ml-auto print-here">
                    <li class="print"><a class="" [routerLink]="['/zerodragprint']">Print List</a></li>
                </ul>
                <div class="row p-2">
                    <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-1000">
                            <div class="title_img">
                                <h2 style="color:orange;">Category 1 Lean Protein (2-8 ounces)</h2>
                                <img src="assets/challengeimages/1.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/egg-whites/">Egg Whites
                  </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/fish/">Fish </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/chicken-breast-2/">Chicken
                    Breast </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/turkey-breast/">Turkey
                    Breast </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pork-tenderloin/">Pork
                    Tenderloin </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/boars-head-london-broil/">Boars Head London
                    Broil </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=low+fat+cottage+cheese">Low Fat
                    Cottage Cheese </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=fat+free+cottage+cheese">Fat
                    Free Cottage Cheese </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/chobani-plain-0-greek-yogurt/">Chobani Greek
                    Plain Yogurt (1/2 up to 1 cup) </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hebrew-national-beef-franks/">97% Lean Hebrew
                    National Franks</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/96-lean-or-leaner-ground-meat/">96% Lean
                    Ground Meat</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12  mb-2 float-left">
                        <div class="list_1 h-1000">
                            <div class="title_img">
                                <h2 style="color:orange;"> Category 2 Fibrous Carbs (1/2 up to 1 cup)</h2>
                                <img src="assets/challengeimages/2.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/broccoli/">Broccoli </a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/asparagus/">Asparagus </a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/squash/">Squash </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/okra/">Okra </a></li>
                                <li><a target="_blank" href="#">Green leafy vegetables </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/celery/">Celery </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/cauliflower/">Cauliflower
                  </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/cucumber/">Cucumbers</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/bell-peppers/">Bell Peppers
                  </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/aji-cristal-pepper/">Hot
                    peppers </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pepperoncini-pepper/">Sweet
                    Peppers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-1000">
                            <div class="title_img">
                                <h2 style="color:orange;">Category 4 (Protein + Fat) (2-6 Ounces)</h2>
                                <img src="assets/challengeimages/4.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/whole-eggs/">Eggs </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/flank-steak/">Steak; any
                    cut </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pork-chop/">Pork </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/boneless-pork-ribs/">Pork
                    Ribs </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pork-spareribs/">Spareribs
                  </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/brisket/">Brisket </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/93-or-leaner-ground-meat/">
                    93% Lean up to 95% Lean Ground Meat </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/chicken-wings/"> Chicken
                    Wings (4-6 Ounces and no sweet sauces) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12  mb-2 float-left">
                        <div class="list_1 h-1000">
                            <div class="title_img">
                                <h2 style="color:orange;">Category 6 Superfoods</h2>
                                <img src="assets/challengeimages/Superfoods.png">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pinto-beans/"> Pintos Beans
                    (1/2 up to 1 cup)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/black-beans/">Black Beans
                    (1/2 up to 1 cup)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/red-beans/">Red Beans (1/2
                    up to 1 cup)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/nuts/">Nuts (1-2
                    handuls)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=seeds">Seeds
                    (1-2 handfuls)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/nuts_more/">Nuts N More PButter
                    (1-2 tbsp)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/better-n-peanut-butter/">Better N
                    Peanut Butter (1-2 tbsp)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Category 7 (Shellfish)(2-8 Ounces)</h2>
                                <img src="assets/challengeimages/7.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/crab/">Crab </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/oysters/">Oysters </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/scallops/">Scallops </a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/mussels/">Mussels </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/clams/">Clams </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/shrimp-2/">Shrimp </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/lobster/">Lobster </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/escargot/"> Escargot</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/squid/">Squid</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/octopus/">Octopus</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">HHF</h2>
                                <img src="assets/challengeimages/21.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hanitoba-harvest-hemp-hearts/">Hemp Hearts
                    (1-3 tbsp) </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hemp-hearts-protein-flakes/">Hemp Flakes (1-3
                    tbsp) </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/hemp-hearts-high-energy-crumbles/">Hemp Crumbles
                    (Condiment) </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hemp-flakes-high-protein-crumbles/">Sweet Hemp
                    Flakes (1-3 tbsp) </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/hemp-hearts-protein-powder">Hemp
                    Protein Powder (1 Scoop with 1 Scoop of any other App Shake) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Cooking Fats/ Condiments</h2>
                                <img src="https://myzerodrag.com/wp-content/uploads/2019/07/oil.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/pam-coconut-oil-cooking-spray/">Pam Cooking
                    Spray </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/mct-oil-2/"> Zero Drag 100%
                    MCT Oil</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/mct-cooking-oil/"> 100% MCT
                    Oil</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/hemp_oil/"> Hemp Oil</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=coconut+oil"> Coconut Oil </a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/ghee-butter/"> Ghee Butter</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/swanson-beef-broth/"> Fat
                    Free Beef Bullion/Broth </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/swanson-chicken-broth/">
                    Fat Free Chicken Bullion/Broth</a></li>
                                <li>
                                    <a target="_blank" href="#">
                    If cooking any food with any other oil or fat or eating in restaurant do not
                    include any category 3 or category 5 on the plate while in weight loss
                    mode.
                  </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Approved Breading</h2>
                                <img src="assets/challengeimages/22.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/bob-s-red-mill-tvp/">TVP</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=almond+flour">Almond Flour</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=coconut+flour">Coconut
                    Flour</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/carbquik/">Carbquik</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Cereals (1 up to 1.5 Cups)</h2>
                                <img src="assets/challengeimages/16.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kashi-golean-original-cereal/">Kashi Go Lean
                    Original</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kays-natural-better-balance-protein-cereal/">Kay’s
                    Natural Cereal</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hi-lo-cereal-from-nutritious-living/"> HI Lo
                    Nutritious Living</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Approved Cheese</h2>
                                <img src="assets/challengeimages/11.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/lifetime-fat-free-cheese/">Lifetime Fat Free
                    (Category 1 Lean Protein or Condiment)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kraft-fat-free-singles-cheese/">Kraft Fat Free
                    (Category 1 Lean Protein or Condiment)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/borden-fat-free-singles/">Borden’s Fat Free
                    Cheese (Category 1 Lean Protein or Condiment)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kroger-fat-free-shredded-mozzarella-cheese/">Kroger
                    Brand Fat Free Cheese (Category 1 Lean Protein or Condiment)</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food/cabots-sharp-extra-light-cheddar-cheese/">Cabot
                    Extra Light Cheese (Category 4 Protein + Fat)</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Category 2 Breads (Less is Best)</h2>
                                <img src="assets/challengeimages/14.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/la-tortilla-fiber-tortilla/">La
                    Tortilla Factory 50 Calorie Tortilla</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/ole-extreme-wellness-high-fiber-low-carb-tortilla/">Ole
                    Wellness Extreme Fiber Tortilla </a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=healthy+life">Healthy Life
                    Bread </a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/natures-own-double-fiber-wheat-bread/">Natures
                    Own Double Fiber Wheat Bread</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/gg-scandinavian-bran-crispbread/">Bran Crispbread</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/healthy-life-80-calorie-hotdog-buns/">Healthy
                    Life Hot Dog Buns</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/thomas-light-100-calories-multi-grain-muffins/">Thomas
                    Light Muffins</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/udis-millett-chia-bread/">Udi's Millet Chia
                    (Gluten Free)</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/rudis-plain-gluten-free-tortilla/">Rudi's
                    Gluten Free Tortilla.</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/high_protein_brown_bread/">Shibboleth High Protein
                    Brown Bread</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Approved Sweeteners(To preference)</h2>
                                <img src="assets/challengeimages/17.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/tree-of-life-stevia-sweetener/">Stevia</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/splenda/">Splenda</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/monk-fruit-in-the-raw-zero-calorie-sweetener/">Monk
                    Fruit</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food/xyla-sugar-substitute/">Xylitol</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Approved Beverages (As needed)</h2>
                                <img src="assets/challengeimages/18.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/water/">Water</a></li>
                                <li><a target="_blank" href="#">Zero Calorie Beverages of any type</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/lipton-diet-green-tea/">Unsweet or Approved
                    Tea</a> </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/folgers-flavors/">Coffee
                    but only with approved sweeteners</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/celsius-beverages/">Celsius</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/advocare-spark/">Advocare
                    Spark</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Category 1 Milks</h2>
                                <img src="assets/challengeimages/23.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/category/milk/">Fat Free Fair
                    Life Milk</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kroger-chocolate-carbmaster-milk/">Kroger
                    Carbmaster Milk</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;"> SNACKS (Up to 1 per day and only for mental weakness)</h2>
                                <img src="https://myzerodrag.com/wp-content/uploads/2019/07/noon.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/starbucks-bottled-mocha-light-frappucino-coffee-drink/">Bio-Coffee:
                    Up to two serving</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/healthwise-hot-chocolate/">Healthwise or
                    Shibboleth High Protein Hot Chocolate; up to 2 packages</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/chocolite-protein-powder/">Healthsmart Peanut
                    Butter Patties; up to 1 package</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/hw_soup/">Healthwise High Protein
                    Soups; ONLY 1 package</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food/shibboleth-broc-n-cheese-soup/">Shibboleth
                    High Protein Soups; ONLY one package</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/tri-o-plex-chocolate-chip-cookie/">Trio-plex
                    cookie; only 1 cookie</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;"> INFIRMARY Low Blood sugar or Mental Weakness</h2>
                                <img src="assets/challengeimages/25.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/starbucks-bottled-mocha-light-frappucino-coffee-drink/">Bio-Coffee</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/advocare-rehydrate/">Advocare Rehydrate</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/peanut-butter-co-peanut-butter/">Peanut Butter
                    and Company; 1 tbsp</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kind-plus-bars/">Approved
                    Kind Bar Plus</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-1200">
                            <div class="title_img">
                                <h2 style="color:orange;">MEAL REPLACEMENTS (Protein/Fiber)</h2>
                                <img src="assets/challengeimages/37.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/mighty_muffin/">Mighty Muffin</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/kay_protein_cer/">AHS Cereal; 2
                    packages with Approved Milk</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/shibboleth-approved-condimets/"> Zero calorie
                    condiments of any type</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/ahs-high-protein-soup/">
                    Shibboleth High Protein Hot Chocolate with or without 1 tsp Ghee</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/healthwise-protein-krinkles-2/">Healthwise
                    High Protein Oatmeal; 2 packages with or without 1 tbsp of HHF </a></li>
                                <li><a target="_blank" href="#">AHS Mac and Cheese with a 2 ounces of a category 1 lean protein</a></li>
                                <li><a target="_blank" href="#">AHS Fettuccine with 2 ounces of category 1 lean protein</a></li>
                                <li><a target="_blank" href="#">AHS Mac and Cheese with 1-2 tbsp of HHF</a></li>
                                <li><a target="_blank" href="#">AHS Fettuccine with 1-2 tbsp of HHF</a></li>
                                <li><a target="_blank" href="#">AHS Cheesesteak Pasta; 2 Packages</a></li>
                                <li><a target="_blank" href="#">Healthwise Prepackaged microwave meals; Any</a></li>
                                <li><a target="_blank" href="#">AHS Cinnamon Crisp Cereal; 2 packages with 1 tbsp of HHF or Sweet Hemp
                    Flakes. Use 1/2 cup of approved category 1 milk.</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kays-natural-better-balance-protein-cereal/">Kay’s
                    Natural Protein Cereals; 1.5 Cups. Add approved category 1 milk.</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/shop/product/frozen_yogurt/">Shibboleth Frozen
                    Yogurt; Mix according to instructions; 2 cups is meal. Taste like snow cream.</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/hemp-bars-2/">Hemp Bar; 1/3
                    of one Hemp Bar is MR.</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food/ahs-pancakes/">AHS
                    Pancakes; Up to 2 packages with approved zero calorie or sugar free syrup.</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food/know-better-foods-waffle-chocolate-chip/">Know
                    Better Waffle</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/know-better-bread-donut/">Know Better
                    Doughnut</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/know-better-bread-donut/">Know Better Doughnut
                    with 1 tsp of G-Butter</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/quest-bar-gluten-free-natural-protein-bar/">Quest
                    Bar</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food/oh-yeah-one/">Oh Yeah One
                    Bar</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/shibboleth-protein-bars/">Shibboleth Protein
                    Bar</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=shake">Shibboleth Approved
                    Shake; 250 calories or less.</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/real-good-pizza-personal-size-45-49-oz/">Real
                    Good Pizza (Small One)</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/real-good-enchiladas-chicken-beef-or-pork/">Real
                    Good Enchiladas</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/g-butter-high-protein-low-calorie-spread/">G-Butter;
                    300 calorie serving is MR</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/shop/product/hw_soup/">Healthwise High Protein
                    Soups; up to two packages as meal</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/shibboleth-broc-n-cheese-soup/">Shibboleth
                    High Protein Soups; up to two packages</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/tri-o-plex-chocolate-chip-cookie/">Trio-plex
                    cookies; up to 2 cookies</a></li>
                                <li><a target="_blank" href="https://www.myshibboleth.com/survival-tools/food/quest-bar-gluten-free-natural-protein-bar/">Quest
                    Bars</a></li>
                                <li><a target="_blank" href="">Jimmy Dean Delights Breakfast Sandwich </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-1200">
                            <div class="title_img">
                                <h2 style="color:orange;">Restaurants (Keep at 300-500 Calories)</h2>
                                <img src="assets/challengeimages/19.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/grilled-nuggets/"> Chick
                    Fil A ~ 8-12 Grilled Chicken Nuggets with Side Salad</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/8-chicken-nuggets/">Chick Fil A ~ 8 Fried
                    Chicken Nuggets with Side Salad</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/mexican-restaurant-bowl-of-chicken-soup-with-no-rice/">Mexican
                    Restaurant ~ Bowl of Chicken Soup/No Rice</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/mexican-restaurant-3-soft-chicken-tacos-with-only-1-of-your-approved-tortillas/">Mexican
                    Restaurant ~ 3 Soft Chicken Tacos/Use own tortilla</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/quarter-pounder/">McDonalds ~ Quarter
                    Pounder on your own bread</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/product/small-chili/">Wendy’s ~
                    Small Chili over Side Salad</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/chicken-caesar-salad-3/"> Burger King ~
                    Grilled Chicken with Side Salad</a></li>
                                <li><a target="_blank" href="#">Family Style Restaurant ~ Grilled Chicken with Salad</a></li>
                                <li><a target="_blank" href="#"> Family Style Restaurant ~ Grilled Salmon with Vegetable Medley</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/2-eggs-2/">Waffle House
                    ~ 2 Scrambled Eggs, 2 tbsp of gravy, Use 1 slice of own bread</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/grilled-chicken-salad-6/">Waffle House ~
                    Grilled Chicken and side salad</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/shrimp-scampi-and-broccoli/">Red Lobster ~
                    Shrimp Scampi with Broccoli</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/product/outback-special-steak/">Steak House ~ 4-6
                    ounces of Steak with Asparagus</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/spicy-grilled-catfish-and-egg-whites/">Cracker
                    Barrel ~ Spicy Grilled Cat Fish with Green beans</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/side-of-pintos-and-cheese-in-your-la-tortilla-factory-tortilla/">Taco
                    Bell ~ Refried beans on your own tortilla</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/grilled-white-fish-dinner/">Captain D’s ~
                    Grilled or broiled fish with green beans</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/product/chicken-teriaki-skewers-with-vegetable-medley-2/">Chinese
                    Restaurant ~ 2 Chicken Teryaki Skewers, small Egg Drop Soup with a category 2 vegetable</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/product/chicken-and-broccoli-with-1-side-of-hot-and-sour-soup-2/">Chinese
                    Restaurant ~ Moo Goo Gai Pan or Chicken and Broccoli; scrape as much sauce off the plate as
                    possible.</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-1200">
                            <div class="title_img">
                                <h2 style="color:orange;">Condiments (5/2/Few Rule)</h2>
                                <img src="assets/challengeimages/8.jpg">
                            </div>
                            <ul>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/a1-steak-sauce/">A1</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/reduced-sugar-ketchup/ ">Reduced Sugar
                    Ketchup</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=mustard ">Mustard</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food-search/?search=light+italian+dressing">Light
                    Italian Dressing</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food-search/?search=Walden+Farms+Calorie+Free">Zero
                    Calorie Walden Farms Condiments</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/mrs-dash-seasoning-packets/">25 calorie per
                    serving seasoning packs</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/shibboleth-approved-condimets/">25 calorie per
                    serving condiments of any type</a></li>
                                <li><a target="_blank" href=" http://www.myshibboleth.com/survival-tools/food-search/?search=coffee+creamer">15 calorie per
                    serving creamers and sugar subs in coffee</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/kraft-fat-free-mayo/">
                    Kraft Fat Free Mayo</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/know-better-foods-croutons/"> Know Better
                    Foods Croutons up to 50 calories with meal</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/know-foods-know-better-thins/"> Know Better
                    Foods Cracker Thins</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/salt/">Salt </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/tabasco-chili-pepper/">Pepper </a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/shibboleth-approved-condimets/"> Zero calorie
                    condiments of any type</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/know-better-foods-syrup/">Know Foods Pancake
                    Syrup</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/walden-farms-calorie-free-pancake-syrup/">Walden
                    Farms Calorie Free Pancake Syrup</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/laura-lynn-sugar-free-pancake-syrup/">Sugar
                    Free Pancake Syrup</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food-search/?search=bbq+sauce">Any BBQ sauce with
                    less than 25 calories in a serving.</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/stubbs-original-all-natural-bar-b-q-sauce/">Stubbs
                    Original BBQ sauce</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/stubbs-moppin-sauce/">Stubbs Mop N Sauce</a>
                                </li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/tabasco-green/">Tabasco
                    Sauce</a></li>
                                <li><a target="_blank" href="http://www.myshibboleth.com/survival-tools/food/berry/">Berries; Palm Full
                    only</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 float-left">
                        <div class="list_1 h-600">
                            <div class="title_img">
                                <h2 style="color:orange;">Everyday Shibboleth Approved <br>Quick Budget Friendly Meals</h2>
                                <img src="https://myzerodrag.com/wp-content/uploads/2020/04/download.jpg">
                            </div>
                            <ul>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">SANDWICH :- </b> A Shibboleth approved sandwich includes
                  but is not limited to 2 slices of approved bread, 2-6 ounces of approved deli meat, optional approved
                  cheese and optional approved condiments. Always best to use La tortilla 50 calorie tortilla or 1 slice
                  of bread with large hearts of romaine leaf as top part of sandwich. </a></li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">SPAM SANDWICH :- </b> A Shibboleth approved spam sandwich
                  is 2 slices of approved bread, 2 ounces of Turkey Spam fried in MCT Oil with or without fat free
                  cheese and approved condiments. </a></li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">GRILLED CHEESE :- </b> A Shibboleth approved Grilled
                  Cheese sandwich is 2 slices of approved bread, 2-4 slices of fat free cheese or up to 2 ounces of
                  Cabot Light Cheese melted between the lids of approved bread and fried or heated in MCT Oil. </a></li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">HOT DOG :-</b> A Shibboleth approved Hot Dog includes but
                  is not limited to 1 approved Healthy Life Hot Dog Bun or even better a La Tortilla Factory 50 calorie
                  tortilla. Optionally you may use 2 tbsp of Hormel Turkey Chili, Slawsa brand condiment, and other
                  approved condiments. </a></li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">HAMBURGER :- </b> A Shibboleth approved Hamburger is 2-6
                  ounces of 93% lean up to 99% lean ground meat (turkey or beef) patty grilled or fried between the lids
                  of two large Hearts of Romaine leaves with approved cheese and approved condiments. You can use
                  approved bread or tortilla but less bread is always best. </a></li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">PEANUT BUTTER AND JELLY :- </b> A Shibboleth approved
                  Peanut Butter and Jelly Sandwich is 2 tablespoons of approved peanut butter with or without 1 tbsp of
                  approved sugar free jelly. Place between the lids of two slices of approved bread or better yet in an
                  approved tortilla. The La Tortilla 50 calorie tortilla is always the best choice, well, unless you
                  love brancrisp bread like I do. </a></li>
                                <li style="text-align: justify;"><a href="http://www.myshibboleth.com/survival-tools/recipe/french-toast/" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">FRENCH
                    TOAST :- </b> Shibboleth approved recipe </a></li>
                                <li style="text-align: justify;"><a href="http://www.myshibboleth.com/survival-tools/recipe/egg-white-omelet-with-spinach/" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">EGG WHITE
                    OMELET :- </b> Shibboleth approved recipe </a></li>
                                <li style="text-align: justify;"><a href="http://www.myshibboleth.com/survival-tools/food-search/?search=turkey+bacon" target="_blank" style="pointer-events: none;"><b style="font-weight: 900; font-size: 18px;">EGG MCMUFFIN :- </b>
                  Thomas Light Muffin, 1 Fried Egg, Approved Cheese, with or without approved turkey bacon.</a></li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">GRILLED CHICKEN SALAD :- </b> 2- 6 Ounces of Grilled
                  Chicken over any kind of leafy green. You may use approved cheese as a condiment. You may use eggs as
                  a condiment. Tomatoes as a condiment. etc. Keep overall calories at 300 or below. <b>Know Better Foods
                    company has a terrific crouton that you can use as a condiment.</b> I keep these in my survival kit.
                  You should only use an approved salad dressing. If you find yourself without a survival kit and at a
                  restaurant then ask for light Italian only. If the restaurant doesn’t have a LIGHT Italian, don’t
                  sacrifice results for some sugar laden and or fatty salad dressing. Simply use the juice of fresh
                  lemons and limes as your salad dressing. </a></li>
                                <li style="text-align: justify;">
                                    <a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">SHAKE :- </b> There are many approved meal replacement
                  shakes and plenty of approved protein shakes that you can use as a meal replacement. Here are a few of
                  the best for weight loss. </a><br> 1. <a href="http://www.myshibboleth.com/survival-tools/food/advocare-mr-shake/"> Advocare Mr
                  Shake</a><br> 2. <a href="http://www.myshibboleth.com/survival-tools/food/oh-yeah-milkshake-powder/">
                  Milk Shake Powder</a><br>3. <a href="http://www.myshibboleth.com/survival-tools/food/chocolite-protein-powder/"> Chocolite Protein
                  Powder</a><br>
                                </li>
                                <li style="text-align: justify;">
                                    <a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">MEAl BAR :- </b> There are many approved meal replacement
                  protein bars. Here are a few of the best. </a><br> 1. <a href="http://www.myshibboleth.com/survival-tools/food/quest-bar-gluten-free-natural-protein-bar/">
                  Quest Bars (all flavors)</a><br> 2. <a href="http://www.myshibboleth.com/survival-tools/food/oh-yeah-one/"> Oh Yeah ONE</a><br> 3. <a href="http://www.myshibboleth.com/survival-tools/food/power-crunch-protein-energy-bar/"> Power
                  Crunch Protein Energy Bar</a><br> 4. <a href="http://www.myshibboleth.com/survival-tools/food/shibboleth-protein-bars/"> Shibboleth
                  Protein Bars</a><br>
                                </li>
                                <li style="text-align: justify;"><a href="#" target="_blank" style="pointer-events: none;"><b
                    style="font-weight: 900; font-size: 18px;">BOWL OF CEREAL :- </b> An approved bowl of cereal is 4- 8
                  ounces of Kroger Carbmaster Milk or 4-8 ounces of Fat Free Fair life milk with 1 up to 1.5 cups of one
                  of the approved Phase 1 cereals. You may use approved sweeteners and you may use berries as a
                  condiment. It is best to keep total calories from cereal at 250 or less. </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <h1 class="tab_title">Video</h1>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2 float-left">
                    <div class="youtube-video">

                        <iframe src="https://www.youtube.com/embed/Q3vA_djm8MY" style="width:100%;left:0" allow="autoplay; encrypted-media" allowfullscreen="" height="300px" frameborder="0"></iframe>
                        <h1>Zero Drag Lesson 1</h1>



                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-2 float-left">
                    <div class="youtube-video">
                        <iframe src="https://www.youtube.com/embed/nyMizJfc0dI" style="width:100%;left:0" allow="autoplay; encrypted-media" allowfullscreen="" height="300px" frameborder="0"></iframe>

                        <h1>Zero Drag Lesson 2</h1>



                    </div>
                </div>


            </div>



            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <h1 class="tab_title"> Downloadables</h1>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3 float-left">
                    <div class="download_section">
                        <a download="assets/challengeimages/Zero_Drag_Lesson_2of 4.pdf" href="assets/challengeimages/Zero_Drag_Lesson_2of 4.pdf" title="ImageName">
                            <img alt="ImageName" src="assets/challengeimages/zerodrag2to4.png" width="100%" style="border: 9px solid orange;border-radius: 15px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3 float-left">
                    <div class="download_section">
                        <a download="assets/challengeimages/Zero_Drag_Class1_A_thing that_begins_right_will_end_right.pdf" href="assets/challengeimages/Zero_Drag_Class1_A_thing that_begins_right_will_end_right.pdf" title="ImageName">
                            <img alt="ImageName" src="assets/challengeimages/zerodrag1.PNG" width="100%" style="border: 9px solid orange;border-radius: 15px;">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>