<body>

    <div class="main-div" style="width:1000px  ; margin: 0 auto;">

        <!-- Navigation -->
        <div class="header" style="text-align:center">

            <button style="padding:10px" (click)="printPage()">Print List</button>

            <!-- <script>
                function printPage() {
                    window.print();
                }
            </script> -->
            <div class="logo-center">
                <h1>The Tiger's Eye</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Category 1 Lean Protein</h1>
                    <ul>

                        <li>Egg Whites(Freebies) </li>
                        <li>
                            Fish
                        </li>
                        <li>
                            Chicken Breast; skinless
                        </li>
                        <li>
                            Turkey Breast; skinless
                        </li>
                        <li>
                            Pork Tenderloin
                        </li>
                        <li>
                            Boars Head London Broil
                        </li>
                        <li>
                            Dietz and Watson London Broil
                        </li>
                        <li>
                            Boars Head Roast Beef
                        </li>
                        <li>
                            Dietz and Watson Roast Beef
                        </li>
                        <li>
                            Venison
                        </li>
                        <li>
                            Elk
                        </li>
                        <li>
                            Hemp Flakes
                        </li>
                        <li>
                            Low Fat Cottage Cheese
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 2 <br />Fibrous Carbs</h1>
                    <ul>
                        <li>
                            Broccoli
                        </li>
                        <li>
                            Asparagus
                        </li>
                        <li>
                            Squash
                        </li>
                        <li>
                            Cucumbers
                        </li>
                        <li>
                            Peppers
                        </li>
                        <li>
                            Okra
                        </li>
                        <li>
                            Jicama
                        </li>
                        <li>
                            Green Leafy Vegetables
                        </li>
                        <li>
                            Cabbage
                        </li>
                        <li>
                            Brussels
                        </li>
                        <li>
                            Green Beans
                        </li>
                        <li>
                            Cauliflower
                        </li>
                        <li>
                            Mushrooms
                        </li>
                        <li>
                            Artichokes
                        </li>
                        <li>
                            Celery
                        </li>
                        <li>
                            Beets
                        </li>
                        <li>
                            Sprouts
                        </li>
                        <li>
                            Eggplant
                        </li>
                        <li>
                            Chard
                        </li>
                        <li>
                            Peas in the Pod
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 3 Complex Carbs</h1>
                    <ul>
                        <li>Tomatoes</li>
                        <li>
                            Carrots
                        </li>
                        <li>
                            Onions
                        </li>
                        <li>
                            Quinoa
                        </li>
                        <li>
                            Lima Beans
                        </li>
                        <li>
                            Green Peas
                        </li>
                        <li>
                            Field Peas
                        </li>
                        <li>
                            Peas; any
                        </li>
                        <li>
                            Sweet Potato
                        </li>
                        <li>
                            White Potatoes
                        </li>
                        <li>
                            Corn
                        </li>
                        <li>
                            Long Grain Brown Rice
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <h1>Category 4 Protein + Fat </h1>
                    <ul>
                        <li>Whole Eggs</li>
                        <li>
                            New York Strip Steak
                        </li>
                        <li>
                            Ribeye Steak
                        </li>
                        <li>
                            Steak; any cut
                        </li>
                        <li>
                            Ham
                        </li>
                        <li>
                            Pork
                        </li>
                        <li>
                            Chicken Wings
                        </li>
                        <li>
                            Chicken with Skin
                        </li>
                        <li>
                            Spare Ribs
                        </li>
                        <li>
                            Baby Back Ribs
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-500">
                    <h1>Category 5 Fruit</h1>
                    <ul>
                        <li>Berries</li>
                        <li>
                            Apples
                        </li>
                        <li>
                            Oranges
                        </li>
                        <li>
                            Grapefruit
                        </li>
                        <li>
                            Plums
                        </li>
                        <li>
                            Grapes
                        </li>
                        <li>
                            Kiwi
                        </li>
                        <li>
                            Melon
                        </li>
                        <li>
                            Banana
                        </li>
                        <li>
                            Pineapple
                        </li>
                        <li>
                            Peaches
                        </li>
                        <li>
                            Pears
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-500">
                    <h1>Category 6 <br /> Superfoods <br> </h1>
                    <ul>
                        <li>Pintos Beans</li>
                        <li>
                            Black Beans
                        </li>
                        <li>
                            Red Beans
                        </li>
                        <li>
                            Refried Bean
                        </li>
                        <li>
                            Nuts
                        </li>
                        <li>
                            Seeds
                        </li>
                        <li>
                            Natural Peanut Butter
                        </li>
                        <li>
                            Hemp Hearts
                        </li>
                        <li>
                            Chia Seed
                        </li>
                        <li>
                            Avocado
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-500">
                    <h1> Category 7 Shellfish</h1>
                    <ul>
                        <li>Shrimp </li>
                        <li>
                            Crab
                        </li>
                        <li>
                            Lobster
                        </li>
                        <li>
                            Oysters
                        </li>
                        <li>
                            Scallops
                        </li>
                        <li>
                            Clams
                        </li>
                        <li>
                            Mussels
                        </li>
                        <li>
                            Any Shellfish
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-500">
                    <h1>Condiments<br /></h1>
                    <ul>
                        <li>Reduced Sugar Ketchup </li>
                        <li>
                            Mustard
                        </li>
                        <li>
                            Kraft Fat Free Mayo
                        </li>
                        <li>
                            Soy Sauce
                        </li>
                        <li>
                            Bragg’s Liquid Amino
                        </li>
                        <li>
                            Any Condiment; 50 calories or less
                        </li>
                        <li>
                            Zero Calorie is best
                        </li>
                        <li>
                            5 grams of sugar or less
                        </li>
                        <li>Ms. Campbells Chow Chow</li>
                        <li>Worsterchire</li>
                        <li>A1 Sauce</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Approved Cheese </h1>
                    <ul>
                        <li>Fat Free Feta Cheese (1) </li>
                        <li>
                            Kraft Fat Free Cheese (1)</li>
                        <li>
                            Fat Free Cheese (1)</li>
                        <li>
                            Fat Free Cream Cheese (1) </li>
                        <li>
                            Follow your Heart Vegan Cheese (4)</li>
                        <li>
                            Cabot Extra Light Cheese (4)</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Approved Yogurt</h1>
                    <ul>
                        <li> Coconut Cult Yogurt </li>
                        <li>
                            Triple Zero Brand Yogurt </li>
                        <li>
                            Chobani Greek Plain Yogurt </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Approved Milk </h1>
                    <ul>
                        <li>Unsweetened Almond Milk </li>
                        <li>
                            Fair Life Fat Free Milk</li>
                        <li>
                            Kroger Carbmaster Milk </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Approved Processed Meat </h1>
                    <ul>
                        <li>Laura’s Lean 96% Lean Ground Meat </li>
                        <li>
                            Hebrew National 97% Lean Franks </li>

                    </ul>
                </div>
            </div>


        </div>



        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1> Approved Cereals </h1>
                    <ul>
                        <li> Kay’s Natural Cereals</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1> Approved <br />Bread </h1>
                    <ul>
                        <li> Bran Crisp Bread; GG varieties </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1>Approved Pasta</h1>
                    <ul>
                        <li> Explore Cuisine Pasta </li>
                        <li>
                            Miracle Noodles </li>
                        <li>
                            Miracle Rice </li>
                        <li>
                            Spaghetti Squash </li>
                        <li>
                            Zucchini Squash </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-500">
                    <h1> Approved Cooking <br/>Oils/Sprays</h1>
                    <ul>
                        <li>100% MCT Oil </li>
                        <li>
                            Coconut Oil </li>
                        <li>
                            Ghee Butter</li>
                        <li>
                            Hemp Oil </li>
                        <li>
                            Pam Cooking Spray </li>
                        <li>
                            Water</li>
                        <li>
                            Bullion </li>
                        <li>
                            Fat Free Broth </li>
                        <li>
                            Anything that is Zero Calorie</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-400">
                    <h1>Approved Sweetener </h1>
                    <ul>
                        <li> Stevia </li>
                        <li>
                            Xylitol </li>
                        <li>
                            Monk Fruit </li>
                        <li>
                            Splenda </li>
                        <li>
                            1 teaspoon of hone</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-400">
                    <h1>Approved Beverages </h1>
                    <ul>
                        <li> Unsweet Tea</li>
                        <li>
                            Unsweetened Coﬀee</li>
                        <li>
                            Advocare Spark</li>
                        <li>
                            Celsius</li>
                        <li>
                            Any zero calorie beverage</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-400">
                    <h1>Low-Blood Sugar or <br/> Post Exercise </h1>
                    <ul>
                        <li>Advocare Rehydrate </li>
                        <li>
                            Bio-Coﬀee</li>
                        <li>
                            Gatorade Zero</li>
                        <li>
                            Emergen-C</li>
                        <li>
                            1 tbsp of Raw Organic Honey</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-400">
                    <h1>Restaurants </h1>
                    <ul>
                        <li>Wendy's Chili; Small with or without side salad</li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2 ">
                <div class="list_1_print h-600">
                    <h1>Beer/Wine/Liquor</h1>

                    <ul>
                        <li> Red Wine; 5-10 ounces</li>
                        <li>
                            White Wine; 5-10 ounces</li>
                        <li>
                            Pinot Noir; 5-10 ounces</li>
                        <li>
                            Pinot Grigio; 5-10 ounces</li>
                        <li>
                            Chardonnay; 5-10 ounces</li>
                        <li>
                            Merlot; 5-10 ounces</li>
                        <li>
                            Cabernet; 5-10 ounces</li>
                        <li>
                            Any Light Beer; up to two servings</li>
                        <li>
                            Coors Light; 2 servings</li>
                        <li>
                            Bud Light; 2 servings</li>
                        <li>
                            Corona Light; 2 servings</li>
                        <li>
                            Modelo Light, 2 servings</li>
                        <li>
                            Liquor; 2 ounces</li>
                        <li>
                            Vodka; 2 ounces</li>
                        <li>
                            Tequila; 2 ounces</li>
                        <li>
                            Rum; 2 ounces</li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-3 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <div class="title_img">
                        <h1>Meal Replacements</h1>
                        <ul>
                            <li> Bio-Coﬀee</li>
                            <li>
                                CoCoRinga </li>
                            <li>
                                HW Hot Chocolate </li>
                            <li>
                                Beverly UMP Shake </li>
                            <li>
                                Bio-Coﬀee/CoCoRinga</li>
                            <li>
                                Bio-Coﬀee/HW Hot Chocolate </li>
                            <li>
                                CoCoRinga/HW Hot Chocolate </li>
                            <li>
                                Bio-Coﬀee/Beverly UMP</li>
                            <li>
                                CoCoRinga/Beverly UMP</li>
                            <li>
                                HW Hot Chocolate/Beverly </li>
                            <li>
                                Mighty Muﬃn </li>
                            <li>
                                1/3 Hemp Bar </li>
                            <li>
                                AHS Mac and Cheese</li>
                            <li>
                                AHS Fettuccine </li>
                            <li>
                                AHS Cheesesteak Pasta </li>
                            <li>
                                Real Good Pizza</li>
                            <li>
                                Real Good Enchilada </li>
                            <li>
                                Real Good Sandwiches</li>
                            <li>
                                G Butter</li>
                            <li>
                                Healthwise Hight Protein Soups </li>

                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 mb-6 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <div class="title_img">
                        <h1>Approved Supplements</h1>
                        <ul>
                            <li>
                                Advocare MNS</li>
                            <li>

                                Advocare Coreplex </li>
                            <li>

                                Advocare Spark </li>
                            <li>

                                Advocare Rehydrate </li>
                            <li>

                                Advocare Catalyst</li>
                            <li>
                                Advocare Fibo trim </li>
                            <li>

                                Advocare Carb Ease Plus </li>
                            <li>

                                Advocare Slim </li>
                            <li>

                                Zero Drag Vitamins Pro and Pro Plus </li>
                            <li>

                                Advocare Herbal Cleanse </li>
                            <li>

                                Advocare Probiotic Restore </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-6 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <div class="title_img">
                        <h1>www.shibbolethmeals.com </h1>
                    </div>
                    <ul>
                        <li>Fiesta Frittata</li>
                        <li>Frittata</li>
                        <li>Mini Quiche</li>
                        <li>Mini Sesame Seed Bagels</li>
                        <li>Grilled Chicken Breast, Sweet Potatoes, and Green Beans</li>
                        <li>Shredded Chicken Breast, Roasted Sweet Potato, Mixed Veggies</li>
                        <li>Blackened Fish and Asparagus</li>
                        <li>Herb Ground Turkey, Sweet Potato, and Green Beans</li>
                        <li>Ground Beef and Mixed Veggies</li>
                        <li>Shredded Chicken, Riced Cauliflower, and Mixed Veggies</li>
                        <li>In fact, any meal under the Shibboleth Approved Meals section</li>

                    </ul>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 mb-6 pl-2 pr-2">
                <div class="list_1_print h-600">
                    <div class="title_img">
                        <h1>Tiger Recipes </h1>
                    </div>
                    <ul>
                        <li>Amy's Easy Chicken Cabbage Soup</li>
                        <li>Basil Lime Grilled Chicken</li>
                        <li>Berries, Yogurt, & Hemp Flakes Parfait</li>
                        <li>Booty Burnin Burgers</li>
                        <li>Buffalo Shrimp</li>
                        <li>Cabbage Stir-Fry</li>
                        <li>Cedar-Smoked Salmon with Maple-Roasted Acorn Squash</li>
                        <li>Easy Better Than Wendy's Chili</li>
                        <li>Travis Spaghetti</li>
                        <li>To Die For Roast</li>
                        <li>London Broil Salad</li>
                        <li>MCT Catalina Dressing</li>
                        <li>London Broil Salad</li>
                        <li>MCT Gravy</li>
                        <li>MCT Pancakes/</li>
                        <li>MCT Salad Dressing</li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>